@import "../variables";

/* General assignments for all viewports. */
.display-inline {
  display: inline;
}

@media only screen and (min-width: $sm) {
  .display-sm-inline {
    display: inline;
  }
}

@media only screen and (min-width: $md) {
  .display-md-inline {
    display: inline;
  }
}

@media only screen and (min-width: $lg) {
  .display-lg-inline {
    display: inline;
  }
}

@media only screen and (min-width: $xl) {
  .display-xl-inline {
    display: inline;
  }
}

@media only screen and (min-width: $xxl) {
  .display-xxl-inline {
    display: inline;
  }
}

@media print {
  .display-print-inline {
    display: inline;
  }
}