@import "../variables";

/* General assignments for all viewports. */
.col-10 {
  grid-column: span 10;
  padding: calc($BASE_NUMBER / 2);
}

@media only screen and (min-width: $sm) {
  .col-sm-10 {
    grid-column: span 10;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $md) {
  .col-md-10 {
    grid-column: span 10;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $lg) {
  .col-lg-10 {
    grid-column: span 10;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $xl) {
  .col-xl-10 {
    grid-column: span 10;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $xxl) {
  .col-xxl-10 {
    grid-column: span 10;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media (prefers-color-scheme: light) {}

@media (prefers-color-scheme: dark) {}

@media print {
  .col-print-10 {
    grid-column: span 10;
    padding: calc($BASE_NUMBER / 2);
  }
}