@import "../variables";

/* General assignments for all viewports. */
.col-4 {
  grid-column: span 4;
  padding: calc($BASE_NUMBER / 2);
}

@media only screen and (min-width: $sm) {
  .col-sm-4 {
    grid-column: span 4;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $md) {
  .col-md-4 {
    grid-column: span 4;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $lg) {
  .col-lg-4 {
    grid-column: span 4;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $xl) {
  .col-xl-4 {
    grid-column: span 4;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $xxl) {
  .col-xxl-4 {
    grid-column: span 4;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media (prefers-color-scheme: light) {}

@media (prefers-color-scheme: dark) {}

@media print {
  .col-print-4 {
    grid-column: span 4;
    padding: calc($BASE_NUMBER / 2);
  }
}