@import "../variables";

/* General assignments for all viewports. */
.col-7 {
  grid-column: span 7;
  padding: calc($BASE_NUMBER / 2);
}

@media only screen and (min-width: $sm) {
  .col-sm-7 {
    grid-column: span 7 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $md) {
  .col-md-7 {
    grid-column: span 7 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $lg) {
  .col-lg-7 {
    grid-column: span 7 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $xl) {
  .col-xl-7 {
    grid-column: span 7 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $xxl) {
  .col-xxl-7 {
    grid-column: span 7 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}


@media print {
  .col-print-7 {
    grid-column: span 7 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}