@import "../variables";

/* General assignments for all viewports. */
.col-8 {
  grid-column: span 8;
  padding: calc($BASE_NUMBER / 2);
}

@media only screen and (min-width: $sm) and (max-width: $md - 1) {
  .col-sm-8 {
    grid-column: span 8 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $md) and (max-width: $lg - 1) {
  .col-md-8 {
    grid-column: span 8 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $lg) and (max-width: $xl - 1) {
  .col-lg-8 {
    grid-column: span 8 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $xl) and (max-width: $xxl - 1) {
  .col-xl-8 {
    grid-column: span 8 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $xxl) {
  .col-xxl-8 {
    grid-column: span 8 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}


@media print {
  .col-print-8 {
    grid-column: span 8 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}