@import "../variables";

/* General assignments for all viewports. */
.col-5 {
  grid-column: 1 / span 5;
  padding: calc($BASE_NUMBER / 2);
}

@media only screen and (min-width: $sm) {
  .col-sm-5 {
    grid-column: 1 / span 5;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $md) {
  .col-md-5 {
    grid-column: 1 / span 5;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $lg) {
  .col-lg-5 {
    grid-column: 1 / span 5;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $xl) {
  .col-xl-5 {
    grid-column: 1 / span 5;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $xxl) {
  .col-xxl-5 {
    grid-column: 1 / span 5;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media (prefers-color-scheme: light) {}

@media (prefers-color-scheme: dark) {}

@media print {
  .col-print-5 {
    grid-column: 1 / span 5;
    padding: calc($BASE_NUMBER / 2);
  }
}