@import "../variables";

/* General assignments for all viewports. */
.col-9 {
  grid-column: span 9;
  padding: calc($BASE_NUMBER / 2);
}

@media only screen and (min-width: $sm) {
  .col-sm-9 {
    grid-column: span 9 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $md) {
  .col-md-9 {
    grid-column: span 9 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $lg) {
  .col-lg-9 {
    grid-column: span 9 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $xl) {
  .col-xl-9 {
    grid-column: span 9 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}

@media only screen and (min-width: $xxl) {
  .col-xxl-9 {
    grid-column: span 9 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}


@media print {
  .col-print-9 {
    grid-column: span 9 !important;
    padding: calc($BASE_NUMBER / 2);
  }
}