@import "../variables";

/* General assignments for all viewports. */
.container {
  margin: auto;
  max-width: $xxl;
}

.container-fluid {
  @extend .container;
  max-width: 100%;
}

@media only screen and (min-width: $sm) and (max-width: $md - 1) {
}

@media only screen and (min-width: $md) and (max-width: $lg - 1) {
}

@media only screen and (min-width: $lg) and (max-width: $xl - 1) {
}

@media only screen and (min-width: $xl) and (max-width: $xxl - 1) {
}

@media only screen and (min-width: $xxl) {
}

@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
}

@media print {
}