
@import "../variables";

/* General assignments for all viewports. */
.invisible {
  display: none;
}

@media screen and (min-width: $sm) {
  .invisible--sm {
    display: none;
  }
}

@media screen and (min-width: $md) {
  .invisible--md {
    display: none;
  }
}

@media screen and (min-width: $lg) {
  .invisible--lg {
    display: none;
  }
}

@media screen and (min-width: $xl) {
  .invisible--xl {
    display: none;
  }
}

@media screen and (min-width: $xxl) {
  .invisible--xxl {
    display: none;
  }
}

@media print {
  .invisible--print {
    display: none;
  }
}
