@import "../variables";

/* General assignments for all viewports. */
.width-45 {
  width: 45%;
}

@media only screen and (min-width: $sm) and (max-width: $md - 1) {
  .width-sm-45 {
    width: 45% !important;
  }
}

@media only screen and (min-width: $md) and (max-width: $lg - 1) {
  .width-md-45 {
    width: 45% !important;
  }
}

@media only screen and (min-width: $lg) and (max-width: $xl - 1) {
  .width-lg-45 {
    width: 45% !important;
  }
}

@media only screen and (min-width: $xl) and (max-width: $xxl - 1) {
  .width-xl-45 {
    width: 45% !important;
  }
}

@media only screen and (min-width: $xxl) {
  .width-xxl-45 {
    width: 45% !important;
  }
}

@media print {
  .width-print-45 {
    width: 45% !important;
  }
}