@import "../variables";

/* General assignments for all viewports. */
.width-80 {
  width: 80%;
}

@media only screen and (min-width: $sm) {
  .width-sm-80 {
    width: 80% !important;
  }
}

@media only screen and (min-width: $md) {
  .width-md-80 {
    width: 80% !important;
  }
}

@media only screen and (min-width: $lg) {
  .width-lg-80 {
    width: 80% !important;
  }
}

@media only screen and (min-width: $xl) {
  .width-xl-80 {
    width: 80% !important;
  }
}

@media only screen and (min-width: $xxl) {
  .width-xxl-80 {
    width: 80% !important;
  }
}

@media print {
  .width-print-80 {
    width: 80% !important;
  }
}