@import "../variables";

/* General assignments for all viewports. */
.width-25 {
  width: 25%;
}

@media only screen and (min-width: $sm) and (max-width: $md - 1) {
  .width-sm-25 {
    width: 25% !important;
  }
}

@media only screen and (min-width: $md) and (max-width: $lg - 1) {
  .width-md-25 {
    width: 25% !important;
  }
}

@media only screen and (min-width: $lg) and (max-width: $xl - 1) {
  .width-lg-25 {
    width: 25% !important;
  }
}

@media only screen and (min-width: $xl) and (max-width: $xxl - 1) {
  .width-xl-25 {
    width: 25% !important;
  }
}

@media only screen and (min-width: $xxl) {
  .width-xxl-25 {
    width: 25% !important;
  }
}

@media print {
  .width-print-25 {
    width: 25% !important;
  }
}