@import "../variables";

/* General assignments for all viewports. */
.width-90 {
  width: 90%;
}

@media only screen and (min-width: $sm) and (max-width: $md - 1) {
  .width-sm-90 {
    width: 90% !important;
  }
}

@media only screen and (min-width: $md) and (max-width: $lg - 1) {
  .width-md-90 {
    width: 90% !important;
  }
}

@media only screen and (min-width: $lg) and (max-width: $xl - 1) {
  .width-lg-90 {
    width: 90% !important;
  }
}

@media only screen and (min-width: $xl) and (max-width: $xxl - 1) {
  .width-xl-90 {
    width: 90% !important;
  }
}

@media only screen and (min-width: $xxl) {
  .width-xxl-90 {
    width: 90% !important;
  }
}

@media print {
  .width-print-90 {
    width: 90% !important;
  }
}