@import "../variables";

/* General assignments for all viewports. */
.width-55 {
  width: 55%;
}

@media only screen and (min-width: $sm) and (max-width: $md - 1) {
  .width-sm-55 {
    width: 55% !important;
  }
}

@media only screen and (min-width: $md) and (max-width: $lg - 1) {
  .width-md-55 {
    width: 55% !important;
  }
}

@media only screen and (min-width: $lg) and (max-width: $xl - 1) {
  .width-lg-55 {
    width: 55% !important;
  }
}

@media only screen and (min-width: $xl) and (max-width: $xxl - 1) {
  .width-xl-55 {
    width: 55% !important;
  }
}

@media only screen and (min-width: $xxl) {
  .width-xxl-55 {
    width: 55% !important;
  }
}

@media print {
  .width-print-55 {
    width: 55% !important;
  }
}