@import "../variables";

/* General assignments for all viewports. */
.width-10 {
  width: 10%;
}

@media only screen and (min-width: $sm) and (max-width: $md - 1) {
  .width-sm-10 {
    width: 10% !important;
  }
}

@media only screen and (min-width: $md) and (max-width: $lg - 1) {
  .width-md-10 {
    width: 10% !important;
  }
}

@media only screen and (min-width: $lg) and (max-width: $xl - 1) {
  .width-lg-10 {
    width: 10% !important;
  }
}

@media only screen and (min-width: $xl) and (max-width: $xxl - 1) {
  .width-xl-10 {
    width: 10% !important;
  }
}

@media only screen and (min-width: $xxl) {
  .width-xxl-10 {
    width: 10% !important;
  }
}

@media print {
  .width-print-10 {
    width: 10% !important;
  }
}