@import "../variables";

/* General assignments for all viewports. */
.width-25 {
  width: 25%;
}

@media only screen and (min-width: $sm) {
  .width-sm-25 {
    width: 25% !important;
  }
}

@media only screen and (min-width: $md) {
  .width-md-25 {
    width: 25% !important;
  }
}

@media only screen and (min-width: $lg) {
  .width-lg-25 {
    width: 25% !important;
  }
}

@media only screen and (min-width: $xl) {
  .width-xl-25 {
    width: 25% !important;
  }
}

@media only screen and (min-width: $xxl) {
  .width-xxl-25 {
    width: 25% !important;
  }
}

@media print {
  .width-print-25 {
    width: 25% !important;
  }
}