@import "../_variables.scss";

/* General assignments for all viewports. */
article {
  header {
    .date {
      font-family: $font-family-monospace;
    }
  }

  .article-content {
    .table-of-contents {
      counter-reset: h1;
      font-family: $font-family-monospace;
      padding-top: 5px;

      a {
        display: block;
        font-weight: 400;
        margin-top: calc(calc(calc($font-size-xs * 1.1) * -1) - 8px);
        padding-left: 144px;
      }

      h1 {
        border-bottom: 1px solid #CCCCCC;
        counter-reset: h2;
        margin-block-end: 13px;
        margin-block-start: 13px;
        padding-bottom: 10px;
      }

      h2 {
        border-bottom: 1px solid #CCCCCC;
        counter-reset: h3;
        margin-block-end: 13px;
        margin-block-start: 13px;
        padding-bottom: 10px;
      }

      h3 {
        border-bottom: 1px solid #CCCCCC;
        counter-reset: h4;
        margin-block-end: 13px;
        margin-block-start: 13px;
        padding-bottom: 10px;
      }

      h4 {
        border-bottom: 1px solid #CCCCCC;
        counter-reset: h5;
        margin-block-end: 13px;
        margin-block-start: 13px;
        padding-bottom: 10px;
      }

      h5 {
        border-bottom: 1px solid #CCCCCC;
        counter-reset: h6;
        margin-block-end: 13px;
        margin-block-start: 13px;
        padding-bottom: 10px;
      }

      h6 {
        border-bottom: 1px solid #CCCCCC;
        margin-block-end: 13px;
        margin-block-start: 13px;
        padding-bottom: 10px;
      }

      h1:before {
        counter-increment: h1;
        content: counter(h1) " ";
      }

      h2:before {
        counter-increment: h2;
        content: counter(h1) "." counter(h2) " ";
      }

      h3:before {
        counter-increment: h3;
        content: counter(h1) "." counter(h2) "." counter(h3) " ";
      }

      h4:before {
        counter-increment: h4;
        content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " ";
      }

      h5:before {
        counter-increment: h5;
        content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " ";
      }

      h6:before {
        counter-increment: h6;
        content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " ";
      }
    }

    .lead {
      opacity: .8;
    }

    .title-without-numerical-indication {
      font-weight: 700;
      letter-spacing: .03rem;
      margin-top: 55px;
      opacity: .8;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .article-footer {
  }
}

@media only screen and (min-width: $sm) {
  .article-content {
    .table-of-contents {
      a {
      }
    }
  }
}

@media only screen and (min-width: $md) {
  .article-content {
    .table-of-contents {
      a {
      }
    }
  }
}

@media only screen and (min-width: $lg) {
  .article-content {
    .table-of-contents {
      a {
      }
    }
  }
}

@media only screen and (min-width: $xl) {
  .article-content {
    .table-of-contents {
      a {
      }
    }
  }
}

@media only screen and (min-width: $xxl) {
  .article-content {
    .table-of-contents {
      a {
      }
    }
  }
}

@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
}

@media print {
  .article-content {
    .table-of-contents {
      a {
      }
    }
  }
}
