@import "../_variables.scss";

/* General assignments for all viewports. */
article {
  counter-reset: p;

  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }

  header {
    .date {
      font-family: $font-family-monospace;
    }
  }

  .article-content {
    counter-reset: h1;

    p:before {
      color: $black-tint-80;
      counter-increment: p;
      content: counter(p);
      font-family: $font-family-monospace;
      margin-right: calc($font-size-xs * 1.1);
    }

    h1 {
      counter-reset: h2;
    }

    h2 {
      counter-reset: h3;
    }

    h3 {
      counter-reset: h4;
    }

    h4 {
      counter-reset: h5;
    }

    h5 {
      counter-reset: h6;
    }

    h6 {
    }

    h1:before {
      counter-increment: h1;
      content: counter(h1) " ";
      margin-right: calc($font-size-xs * 1.1);
    }

    h2:before {
      counter-increment: h2;
      content: counter(h1) "." counter(h2);
      margin-right: calc($font-size-xs * 1.1);
    }

    h3:before {
      counter-increment: h3;
      content: counter(h1) "." counter(h2) "." counter(h3);
      margin-right: calc($font-size-xs * 1.1);
    }

    h4:before {
      counter-increment: h4;
      content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4);
      margin-right: calc($font-size-xs * 1.1);
    }

    h5:before {
      counter-increment: h5;
      content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5);
      margin-right: calc($font-size-xs * 1.1);
    }

    h6:before {
      counter-increment: h6;
      content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6);
      margin-right: calc($font-size-xs * 1.1);
    }

    .lead {
    }

    .legal-person {
      font-weight: $font-weight-bold;
      letter-spacing: .03rem;
      text-transform: uppercase;
    }

    .monetary-value,
    .numeric-value {
      font-family: $font-family-monospace;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }

    .monetary-value.usd:before {
      content: "USD-";
      opacity: .8;
    }

    .monetary-value.eur:before {
      content: "EUR-";
      opacity: .8;
    }

    .monetary-value.jpy:before {
      content: "JPY-";
      opacity: .8;
    }

    .monetary-value.gbp:before {
      content: "GBP-";
      opacity: .8;
    }

    .monetary-value.aud:before {
      content: "AUD-";
      opacity: .8;
    }

    .monetary-value.aud:before {
      content: "CAD-";
      opacity: .8;
    }

    .monetary-value.krw:before {
      content: "KRW-";
      opacity: .8;
    }

    .monetary-value.cny:before {
      content: "CNY-";
      opacity: .8;
    }

    .monetary-value.brl:before {
      content: "BRL-";
      opacity: .8;
    }

    .title-without-numerical-indication {
      font-weight: $font-weight-bold;
      letter-spacing: .03rem;
      margin-top: 55px;
      opacity: .5;
      text-transform: uppercase;
    }
  }

  .article-footer {
  }
}

@media only screen and (min-width: $sm) {
  .article-content {
    p:before, h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
      margin-right: calc($font-size-sm * 1.1);
    }
  }
}

@media only screen and (min-width: $md) {
  .article-content {
    p:before, h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
      margin-right: calc($font-size-md * 1.1);
    }
  }
}

@media only screen and (min-width: $lg) {
  .article-content {
    p:before, h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
      margin-right: calc($font-size-lg * 1.1);
    }
  }
}

@media only screen and (min-width: $xl) {
  .article-content {
    p:before, h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
      margin-right: calc($font-size-xl * 1.1);
    }
  }
}

@media only screen and (min-width: $xxl) {
  .article-content {
    p:before, h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
      margin-right: calc($font-size-xxl * 1.1);
    }
  }
}

@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
}

@media print {
  .article-content {
    p:before, h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
      margin-right: calc($font-size-print * 1.1);
    }
  }
}
