// TODO: Break this file into parts.

@import "../_variables.scss";

/* General assignments for all viewports. */
body {
  background-color: $wall;
  color: $black;
  font-family: $font-family-sans-serif;
  font-size: $font-size-xs;
  line-height: $line-height;
  margin: 0;
  padding: 0;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-x-visible {
  overflow-x: visible;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-y-visible {
  overflow-y: visible;
}

.toggle {
  cursor: pointer;
  font-family: $font-family-monospace;
  font-size: calc($font-size-xs * 1.5);
  line-height: calc($font-size-xs * 1.5);
  padding: calc(calc($BASE_NUMBER * .2) * 3);
  text-align: left;
}

.toggle:before {
  content: "\2261";
}

@media only screen and (min-width: $sm) {
  body {
    font-size: $font-size-sm;
  }
}

@media only screen and (min-width: $md) {
  body {
    font-size: $font-size-md;
  }
}

@media only screen and (min-width: $lg) {
  body {
    font-size: $font-size-lg;
  }
}

@media only screen and (min-width: $xl) {
  body {
    font-size: $font-size-xl;
  }
}

@media only screen and (min-width: $xxl) {
  body {
    font-size: $font-size-xxl;
  }
}

@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
}

@media print {
  body {
    font-size: $font-size-print;
  }
}
