@import "../variables";

/* General assignments for all viewports. */
figure {
  background-color: $wall;
  margin: 0;
  padding: $BASE_NUMBER $BASE_NUMBER calc($BASE_NUMBER * 1.3);

  figcaption {
    color: $gray;
    padding-bottom: calc($BASE_NUMBER * 0);
    padding-top: calc($BASE_NUMBER * 0.5);
  }

  img {
    width: 100%;
  }
}

figure.width-100 {
  max-width: calc(100% - calc($BASE_NUMBER * 2));
}


@media only screen and (min-width: $sm) and (max-width: $md -1) {
  figure.width-sm-100 {
    width: calc(100% - calc($BASE_NUMBER * 2)) !important;
  }
}


@media only screen and (min-width: $md) and (max-width: $lg -1) {
  figure.width-md-100 {
    width: calc(100% - calc($BASE_NUMBER * 2)) !important;
  }
}


@media only screen and (min-width: $lg) and (max-width: $xl -1) {
  figure.width-lg-100 {
    width: calc(100% - calc($BASE_NUMBER * 2)) !important;
  }
}


@media only screen and (min-width: $xl) and (max-width: $xxl -1) {
  figure.width-xl-100 {
    width: calc(100% - calc($BASE_NUMBER * 2)) !important;
  }
}


@media only screen and (min-width: $xxl) {
  figure.width-xxl-100 {
    width: calc(100% - calc($BASE_NUMBER * 2)) !important;
  }
}


@media print {
  figure.width-print-100 {
    width: calc(100% - calc($BASE_NUMBER * 2)) !important;
  }
}


@media (prefers-color-scheme: light) {
}


@media (prefers-color-scheme: dark) {
}