@import "../variables";

/* General assignments for all viewports. */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: $sm) {
}

@media only screen and (min-width: $md) {
}

@media only screen and (min-width: $lg) {
}

@media only screen and (min-width: $xl) {
}

@media only screen and (min-width: $xxl) {
}

@media print {
}

@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
}