@import "../variables";

/* General assignments for all viewports. */
legend {
  background-color: $wall;
  border: 1px solid $black-tint-80;
  border-bottom: 0;
  margin-left: calc(calc($BASE_NUMBER * .2) * 3);
  padding: calc(calc($BASE_NUMBER * .2) * 3);
}

@media only screen and (min-width: $sm) {}

@media only screen and (min-width: $md) {}

@media only screen and (min-width: $lg) {}

@media only screen and (min-width: $xl) {}

@media only screen and (min-width: $xxl) {}

@media print {}

@media (prefers-color-scheme: light) {}

@media (prefers-color-scheme: dark) {}