@import "../variables";

/* General assignments for all viewports. */
mark {
  background-color: $yellow;
}

mark.red {
  background-color: $red-tint-50;
}

mark.green {
  background-color: $green;
}

mark.cyan {
  background-color: $cyan;
}

mark.black-out {
  background-color: $black;
  color: $black;
  font-family: $font-family-monospace;
}

@media only screen and (min-width: $sm) {}

@media only screen and (min-width: $md) {}

@media only screen and (min-width: $lg) {}

@media only screen and (min-width: $xl) {}

@media only screen and (min-width: $xxl) {}

@media (prefers-color-scheme: light) {}

@media (prefers-color-scheme: dark) {}

@media print {
  mark {
    -webkit-print-color-adjust: exact;
    background-color: $yellow !important;
  }

  mark.red {
    -webkit-print-color-adjust: exact;
    background-color: $red-tint-50 !important;
  }

  mark.green {
    -webkit-print-color-adjust: exact;
    background-color: $green !important;
  }

  mark.cyan {
    -webkit-print-color-adjust: exact;
    background-color: $cyan !important;
  }

  mark.black-out {
    -webkit-print-color-adjust: exact;
    background-color: $black !important;
    color: $black !important;
    font-family: $font-family-monospace !important;
  }
}