@import "../variables";

.border-top-right-radius-54 {
  border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 54);
}

@media only screen and (min-width: $sm) {
  .border-top-right-radius-sm-54 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 54) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-top-right-radius-md-54 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 54) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-top-right-radius-lg-54 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 54) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-top-right-radius-xl-54 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 54) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-top-right-radius-xxl-54 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 54) !important;
  }
}

@media print {
  .border-top-right-radius-print-54 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 54) !important;
  }
}
