@import "../variables";

.border-radius-37 {
  border-radius: calc(calc($BASE_NUMBER * .2) * 37);
}

@media only screen and (min-width: $sm) {
  .border-radius-sm-37 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 37) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-radius-md-37 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 37) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-radius-lg-37 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 37) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-radius-xl-37 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 37) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-radius-xxl-37 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 37) !important;
  }
}

@media print {
  .border-radius-print-37 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 37) !important;
  }
}
