@import "../variables";

.border-bottom-right-radius-0 {
  border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 0);
}

@media only screen and (min-width: $sm) {
  .border-bottom-right-radius-sm-0 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 0) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-bottom-right-radius-md-0 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 0) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-bottom-right-radius-lg-0 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 0) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-bottom-right-radius-xl-0 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 0) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-bottom-right-radius-xxl-0 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 0) !important;
  }
}

@media print {
  .border-bottom-right-radius-print-0 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 0) !important;
  }
}
