@import "../variables";

.border-radius-21 {
  border-radius: calc(calc($BASE_NUMBER * .2) * 21);
}

@media only screen and (min-width: $sm) {
  .border-radius-sm-21 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 21) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-radius-md-21 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 21) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-radius-lg-21 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 21) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-radius-xl-21 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 21) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-radius-xxl-21 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 21) !important;
  }
}

@media print {
  .border-radius-print-21 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 21) !important;
  }
}
