@import "../variables";

.border-radius-22 {
  border-radius: calc(calc($BASE_NUMBER * .2) * 22);
}

@media only screen and (min-width: $sm) {
  .border-radius-sm-22 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 22) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-radius-md-22 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 22) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-radius-lg-22 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 22) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-radius-xl-22 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 22) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-radius-xxl-22 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 22) !important;
  }
}

@media print {
  .border-radius-print-22 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 22) !important;
  }
}
