@import "../variables";

.border-top-right-radius-52 {
  border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 52);
}

@media only screen and (min-width: $sm) {
  .border-top-right-radius-sm-52 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 52) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-top-right-radius-md-52 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 52) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-top-right-radius-lg-52 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 52) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-top-right-radius-xl-52 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 52) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-top-right-radius-xxl-52 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 52) !important;
  }
}

@media print {
  .border-top-right-radius-print-52 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 52) !important;
  }
}
