@import "../variables";

.border-top-left-radius-42 {
  border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 42);
}

@media only screen and (min-width: $sm) {
  .border-top-left-radius-sm-42 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 42) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-top-left-radius-md-42 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 42) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-top-left-radius-lg-42 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 42) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-top-left-radius-xl-42 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 42) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-top-left-radius-xxl-42 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 42) !important;
  }
}

@media print {
  .border-top-left-radius-print-42 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 42) !important;
  }
}
