@import "../variables";

.border-radius-29 {
  border-radius: calc(calc($BASE_NUMBER * .2) * 29);
}

@media only screen and (min-width: $sm) {
  .border-radius-sm-29 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 29) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-radius-md-29 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 29) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-radius-lg-29 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 29) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-radius-xl-29 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 29) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-radius-xxl-29 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 29) !important;
  }
}

@media print {
  .border-radius-print-29 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 29) !important;
  }
}
