@import "../variables";

.border-top-left-radius-18 {
  border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 18);
}

@media only screen and (min-width: $sm) {
  .border-top-left-radius-sm-18 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 18) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-top-left-radius-md-18 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 18) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-top-left-radius-lg-18 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 18) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-top-left-radius-xl-18 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 18) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-top-left-radius-xxl-18 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 18) !important;
  }
}

@media print {
  .border-top-left-radius-print-18 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 18) !important;
  }
}
