@import "../variables";

.border-radius-35 {
  border-radius: calc(calc($BASE_NUMBER * .2) * 35);
}

@media only screen and (min-width: $sm) {
  .border-radius-sm-35 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 35) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-radius-md-35 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 35) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-radius-lg-35 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 35) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-radius-xl-35 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 35) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-radius-xxl-35 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 35) !important;
  }
}

@media print {
  .border-radius-print-35 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 35) !important;
  }
}
