@import "../variables";

.border-radius-13 {
  border-radius: calc(calc($BASE_NUMBER * .2) * 13);
}

@media only screen and (min-width: $sm) {
  .border-radius-sm-13 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 13) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-radius-md-13 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 13) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-radius-lg-13 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 13) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-radius-xl-13 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 13) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-radius-xxl-13 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 13) !important;
  }
}

@media print {
  .border-radius-print-13 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 13) !important;
  }
}
