@import "../variables";

.border-bottom-left-radius-39 {
  border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 39);
}

@media only screen and (min-width: $sm) {
  .border-bottom-left-radius-39 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 39) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-bottom-left-radius-39 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 39) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-bottom-left-radius-39 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 39) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-bottom-left-radius-39 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 39) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-bottom-left-radius-39 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 39) !important;
  }
}

@media print {
  .border-bottom-left-radius-39 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 39) !important;
  }
}
