@import "../variables";

.border-top-right-radius-35 {
  border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 35);
}

@media only screen and (min-width: $sm) {
  .border-top-right-radius-sm-35 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 35) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-top-right-radius-md-35 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 35) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-top-right-radius-lg-35 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 35) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-top-right-radius-xl-35 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 35) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-top-right-radius-xxl-35 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 35) !important;
  }
}

@media print {
  .border-top-right-radius-print-35 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 35) !important;
  }
}
