@import "../variables";

.border-radius-43 {
  border-radius: calc(calc($BASE_NUMBER * .2) * 43);
}

@media only screen and (min-width: $sm) {
  .border-radius-sm-43 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 43) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-radius-md-43 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 43) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-radius-lg-43 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 43) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-radius-xl-43 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 43) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-radius-xxl-43 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 43) !important;
  }
}

@media print {
  .border-radius-print-43 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 43) !important;
  }
}
