@import "../variables";

.border-top-right-radius-44 {
  border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 44);
}

@media only screen and (min-width: $sm) {
  .border-top-right-radius-sm-44 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 44) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-top-right-radius-md-44 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 44) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-top-right-radius-lg-44 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 44) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-top-right-radius-xl-44 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 44) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-top-right-radius-xxl-44 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 44) !important;
  }
}

@media print {
  .border-top-right-radius-print-44 {
    border-top-right-radius: calc(calc($BASE_NUMBER * .2) * 44) !important;
  }
}
