@import "../variables";

.border-radius-50 {
  border-radius: calc(calc($BASE_NUMBER * .2) * 50);
}

@media only screen and (min-width: $sm) {
  .border-radius-sm-50 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 50) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-radius-md-50 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 50) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-radius-lg-50 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 50) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-radius-xl-50 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 50) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-radius-xxl-50 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 50) !important;
  }
}

@media print {
  .border-radius-print-50 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 50) !important;
  }
}
