@import "../variables";

.border-top-left-radius-22 {
  border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 22);
}

@media only screen and (min-width: $sm) {
  .border-top-left-radius-22 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 22) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-top-left-radius-22 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 22) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-top-left-radius-22 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 22) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-top-left-radius-22 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 22) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-top-left-radius-22 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 22) !important;
  }
}

@media print {
  .border-top-left-radius-22 {
    border-top-left-radius: calc(calc($BASE_NUMBER * .2) * 22) !important;
  }
}
