@import "../variables";

.border-radius-11 {
  border-radius: calc(calc($BASE_NUMBER * .2) * 11);
}

@media only screen and (min-width: $sm) {
  .border-radius-sm-11 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 11) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-radius-md-11 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 11) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-radius-lg-11 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 11) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-radius-xl-11 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 11) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-radius-xxl-11 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 11) !important;
  }
}

@media print {
  .border-radius-print-11 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 11) !important;
  }
}
