@import "../variables";

.border-radius-16 {
  border-radius: calc(calc($BASE_NUMBER * .2) * 16);
}

@media only screen and (min-width: $sm) {
  .border-radius-sm-16 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 16) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-radius-md-16 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 16) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-radius-lg-16 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 16) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-radius-xl-16 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 16) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-radius-xxl-16 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 16) !important;
  }
}

@media print {
  .border-radius-print-16 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 16) !important;
  }
}
