@import "../variables";

.border-radius-27 {
  border-radius: calc(calc($BASE_NUMBER * .2) * 27);
}

@media only screen and (min-width: $sm) {
  .border-radius-sm-27 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 27) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-radius-md-27 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 27) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-radius-lg-27 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 27) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-radius-xl-27 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 27) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-radius-xxl-27 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 27) !important;
  }
}

@media print {
  .border-radius-print-27 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 27) !important;
  }
}
