@import "../variables";

.border-bottom-left-radius-28 {
  border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 28);
}

@media only screen and (min-width: $sm) {
  .border-bottom-left-radius-sm-28 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 28) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-bottom-left-radius-md-28 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 28) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-bottom-left-radius-lg-28 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 28) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-bottom-left-radius-xl-28 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 28) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-bottom-left-radius-xxl-28 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 28) !important;
  }
}

@media print {
  .border-bottom-left-radius-print-28 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 28) !important;
  }
}
