@import "../variables";

.border-bottom-left-radius-9 {
  border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 9);
}

@media only screen and (min-width: $sm) {
  .border-bottom-left-radius-sm-9 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 9) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-bottom-left-radius-md-9 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 9) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-bottom-left-radius-lg-9 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 9) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-bottom-left-radius-xl-9 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 9) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-bottom-left-radius-xxl-9 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 9) !important;
  }
}

@media print {
  .border-bottom-left-radius-print-9 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 9) !important;
  }
}
