@import "../variables";

.border-bottom-right-radius-33 {
  border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 33);
}

@media only screen and (min-width: $sm) {
  .border-bottom-right-radius-sm-33 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 33) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-bottom-right-radius-md-33 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 33) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-bottom-right-radius-lg-33 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 33) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-bottom-right-radius-xl-33 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 33) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-bottom-right-radius-xxl-33 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 33) !important;
  }
}

@media print {
  .border-bottom-right-radius-print-33 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 33) !important;
  }
}
