@import "../variables";

.border-bottom-left-radius-38 {
  border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 38);
}

@media only screen and (min-width: $sm) {
  .border-bottom-left-radius-sm-38 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 38) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-bottom-left-radius-md-38 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 38) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-bottom-left-radius-lg-38 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 38) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-bottom-left-radius-xl-38 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 38) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-bottom-left-radius-xxl-38 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 38) !important;
  }
}

@media print {
  .border-bottom-left-radius-print-38 {
    border-bottom-left-radius: calc(calc($BASE_NUMBER * .2) * 38) !important;
  }
}
