@import "../variables";

.border-radius-14 {
  border-radius: calc(calc($BASE_NUMBER * .2) * 14);
}

@media only screen and (min-width: $sm) {
  .border-radius-sm-14 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 14) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-radius-md-14 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 14) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-radius-lg-14 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 14) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-radius-xl-14 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 14) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-radius-xxl-14 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 14) !important;
  }
}

@media print {
  .border-radius-print-14 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 14) !important;
  }
}
