@import "../variables";

.border-radius-41 {
  border-radius: calc(calc($BASE_NUMBER * .2) * 41);
}

@media only screen and (min-width: $sm) {
  .border-radius-sm-41 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 41) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-radius-md-41 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 41) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-radius-lg-41 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 41) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-radius-xl-41 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 41) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-radius-xxl-41 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 41) !important;
  }
}

@media print {
  .border-radius-print-41 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 41) !important;
  }
}
