@import "../variables";

.border-bottom-right-radius-47 {
  border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 47);
}

@media only screen and (min-width: $sm) {
  .border-bottom-right-radius-sm-47 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 47) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-bottom-right-radius-md-47 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 47) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-bottom-right-radius-lg-47 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 47) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-bottom-right-radius-xl-47 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 47) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-bottom-right-radius-xxl-47 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 47) !important;
  }
}

@media print {
  .border-bottom-right-radius-print-47 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 47) !important;
  }
}
