@import "../variables";

.border-radius-20 {
  border-radius: calc(calc($BASE_NUMBER * .2) * 20);
}

@media only screen and (min-width: $sm) {
  .border-radius-sm-20 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 20) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-radius-md-20 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 20) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-radius-lg-20 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 20) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-radius-xl-20 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 20) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-radius-xxl-20 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 20) !important;
  }
}

@media print {
  .border-radius-print-20 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 20) !important;
  }
}
