@import "../variables";

.border-bottom-right-radius-19 {
  border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 19);
}

@media only screen and (min-width: $sm) {
  .border-bottom-right-radius-sm-19 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 19) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-bottom-right-radius-md-19 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 19) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-bottom-right-radius-lg-19 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 19) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-bottom-right-radius-xl-19 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 19) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-bottom-right-radius-xxl-19 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 19) !important;
  }
}

@media print {
  .border-bottom-right-radius-print-19 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 19) !important;
  }
}
