@import "../variables";

.border-bottom-right-radius-25 {
  border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 25);
}

@media only screen and (min-width: $sm) {
  .border-bottom-right-radius-25 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 25) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-bottom-right-radius-25 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 25) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-bottom-right-radius-25 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 25) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-bottom-right-radius-25 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 25) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-bottom-right-radius-25 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 25) !important;
  }
}

@media print {
  .border-bottom-right-radius-25 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 25) !important;
  }
}
