@import "../variables";

.border-bottom-right-radius-4 {
  border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 4);
}

@media only screen and (min-width: $sm) {
  .border-bottom-right-radius-sm-4 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 4) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-bottom-right-radius-md-4 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 4) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-bottom-right-radius-lg-4 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 4) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-bottom-right-radius-xl-4 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 4) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-bottom-right-radius-xxl-4 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 4) !important;
  }
}

@media print {
  .border-bottom-right-radius-print-4 {
    border-bottom-right-radius: calc(calc($BASE_NUMBER * .2) * 4) !important;
  }
}
