@import "../variables";

.border-radius-18 {
  border-radius: calc(calc($BASE_NUMBER * .2) * 18);
}

@media only screen and (min-width: $sm) {
  .border-radius-sm-18 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 18) !important;
  }
}

@media only screen and (min-width: $md) {
  .border-radius-md-18 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 18) !important;
  }
}

@media only screen and (min-width: $lg) {
  .border-radius-lg-18 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 18) !important;
  }
}

@media only screen and (min-width: $xl) {
  .border-radius-xl-18 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 18) !important;
  }
}

@media only screen and (min-width: $xxl) {
  .border-radius-xxl-18 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 18) !important;
  }
}

@media print {
  .border-radius-print-18 {
    border-radius: calc(calc($BASE_NUMBER * .2) * 18) !important;
  }
}
