@import "../variables.scss";

.m-22 {
  margin: calc(calc($BASE_NUMBER * .2) * 22);
}

@media only screen and (min-width: $sm) {
  .m-sm-22 {
    margin: calc(calc($BASE_NUMBER * .2) * 22);
  }
}

@media only screen and (min-width: $md) {
  .m-md-22 {
    margin: calc(calc($BASE_NUMBER * .2) * 22);
  }
}

@media only screen and (min-width: $lg) {
  .m-lg-22 {
    margin: calc(calc($BASE_NUMBER * .2) * 22);
  }
}

@media only screen and (min-width: $xl) {
  .m-xl-22 {
    margin: calc(calc($BASE_NUMBER * .2) * 22);
  }
}

@media only screen and (min-width: $xxl) {
  .m-xxl-22 {
    margin: calc(calc($BASE_NUMBER * .2) * 22);
  }
}

@media print {
  .m-print-22 {
    margin: calc(calc($BASE_NUMBER * .2) * 22);
  }
}
