@import "../variables.scss";

.m-23 {
  margin: calc(calc($BASE_NUMBER * .2) * 23);
}

@media only screen and (min-width: $sm) {
  .m-sm-23 {
    margin: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $md) {
  .m-md-23 {
    margin: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $lg) {
  .m-lg-23 {
    margin: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $xl) {
  .m-xl-23 {
    margin: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $xxl) {
  .m-xxl-23 {
    margin: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media print {
  .m-print-23 {
    margin: calc(calc($BASE_NUMBER * .2) * 23);
  }
}
