@import "../variables.scss";

.m-29 {
  margin: calc(calc($BASE_NUMBER * .2) * 29);
}

@media only screen and (min-width: $sm) {
  .m-sm-29 {
    margin: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $md) {
  .m-md-29 {
    margin: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $lg) {
  .m-lg-29 {
    margin: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $xl) {
  .m-xl-29 {
    margin: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $xxl) {
  .m-xxl-29 {
    margin: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media print {
  .m-print-29 {
    margin: calc(calc($BASE_NUMBER * .2) * 29);
  }
}
