@import "../variables.scss";

.m-36 {
  margin: calc(calc($BASE_NUMBER * .2) * 36);
}

@media only screen and (min-width: $sm) {
  .m-sm-36 {
    margin: calc(calc($BASE_NUMBER * .2) * 36);
  }
}

@media only screen and (min-width: $md) {
  .m-md-36 {
    margin: calc(calc($BASE_NUMBER * .2) * 36);
  }
}

@media only screen and (min-width: $lg) {
  .m-lg-36 {
    margin: calc(calc($BASE_NUMBER * .2) * 36);
  }
}

@media only screen and (min-width: $xl) {
  .m-xl-36 {
    margin: calc(calc($BASE_NUMBER * .2) * 36);
  }
}

@media only screen and (min-width: $xxl) {
  .m-xxl-36 {
    margin: calc(calc($BASE_NUMBER * .2) * 36);
  }
}

@media print {
  .m-print-36 {
    margin: calc(calc($BASE_NUMBER * .2) * 36);
  }
}
