@import "../variables.scss";

.m-40 {
  margin: calc(calc($BASE_NUMBER * .2) * 40);
}

@media only screen and (min-width: $sm) {
  .m-sm-40 {
    margin: calc(calc($BASE_NUMBER * .2) * 40);
  }
}

@media only screen and (min-width: $md) {
  .m-md-40 {
    margin: calc(calc($BASE_NUMBER * .2) * 40);
  }
}

@media only screen and (min-width: $lg) {
  .m-lg-40 {
    margin: calc(calc($BASE_NUMBER * .2) * 40);
  }
}

@media only screen and (min-width: $xl) {
  .m-xl-40 {
    margin: calc(calc($BASE_NUMBER * .2) * 40);
  }
}

@media only screen and (min-width: $xxl) {
  .m-xxl-40 {
    margin: calc(calc($BASE_NUMBER * .2) * 40);
  }
}

@media print {
  .m-print-40 {
    margin: calc(calc($BASE_NUMBER * .2) * 40);
  }
}
