@import "../variables.scss";

.m-42 {
  margin: calc(calc($BASE_NUMBER * .2) * 42);
}

@media only screen and (min-width: $sm) {
  .m-sm-42 {
    margin: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $md) {
  .m-md-42 {
    margin: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $lg) {
  .m-lg-42 {
    margin: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $xl) {
  .m-xl-42 {
    margin: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $xxl) {
  .m-xxl-42 {
    margin: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media print {
  .m-print-42 {
    margin: calc(calc($BASE_NUMBER * .2) * 42);
  }
}
