@import "../variables.scss";

.m-44 {
  margin: calc(calc($BASE_NUMBER * .2) * 44);
}

@media only screen and (min-width: $sm) {
  .m-sm-44 {
    margin: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media only screen and (min-width: $md) {
  .m-md-44 {
    margin: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media only screen and (min-width: $lg) {
  .m-lg-44 {
    margin: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media only screen and (min-width: $xl) {
  .m-xl-44 {
    margin: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media only screen and (min-width: $xxl) {
  .m-xxl-44 {
    margin: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media print {
  .m-print-44 {
    margin: calc(calc($BASE_NUMBER * .2) * 44);
  }
}
