@import "../variables.scss";

.mb-15 {
  margin-bottom: calc(calc($BASE_NUMBER * .2) * 15);
}

@media only screen and (min-width: $sm) {
  .mb-sm-15 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 15);
  }
}

@media only screen and (min-width: $md) {
  .mb-md-15 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 15);
  }
}

@media only screen and (min-width: $lg) {
  .mb-lg-15 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 15);
  }
}

@media only screen and (min-width: $xl) {
  .mb-xl-15 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 15);
  }
}

@media only screen and (min-width: $xxl) {
  .mb-xxl-15 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 15);
  }
}

@media print {
  .mb-print-15 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 15);
  }
}
