@import "../variables.scss";

.mb-28 {
  margin-bottom: calc(calc($BASE_NUMBER * .2) * 28);
}

@media only screen and (min-width: $sm) {
  .mb-sm-28 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media only screen and (min-width: $md) {
  .mb-md-28 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media only screen and (min-width: $lg) {
  .mb-lg-28 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media only screen and (min-width: $xl) {
  .mb-xl-28 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media only screen and (min-width: $xxl) {
  .mb-xxl-28 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media print {
  .mb-print-28 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 28);
  }
}
