@import "../variables.scss";

.mb-42 {
  margin-bottom: calc(calc($BASE_NUMBER * .2) * 42);
}

@media only screen and (min-width: $sm) {
  .mb-sm-42 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $md) {
  .mb-md-42 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $lg) {
  .mb-lg-42 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $xl) {
  .mb-xl-42 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $xxl) {
  .mb-xxl-42 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media print {
  .mb-print-42 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 42);
  }
}
