@import "../variables.scss";

.mb-41 {
  margin-bottom: calc(calc($BASE_NUMBER * .2) * 41);
}

@media only screen and (min-width: $sm) {
  .mb-sm-41 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 41);
  }
}

@media only screen and (min-width: $md) {
  .mb-md-41 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 41);
  }
}

@media only screen and (min-width: $lg) {
  .mb-lg-41 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 41);
  }
}

@media only screen and (min-width: $xl) {
  .mb-xl-41 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 41);
  }
}

@media only screen and (min-width: $xxl) {
  .mb-xxl-41 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 41);
  }
}

@media print {
  .mb-print-41 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 41);
  }
}
