@import "../variables.scss";

.mb-9 {
  margin-bottom: calc(calc($BASE_NUMBER * .2) * 9);
}

@media only screen and (min-width: $sm) {
  .mb-sm-9 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 9);
  }
}

@media only screen and (min-width: $md) {
  .mb-md-9 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 9);
  }
}

@media only screen and (min-width: $lg) {
  .mb-lg-9 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 9);
  }
}

@media only screen and (min-width: $xl) {
  .mb-xl-9 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 9);
  }
}

@media only screen and (min-width: $xxl) {
  .mb-xxl-9 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 9);
  }
}

@media print {
  .mb-print-9 {
    margin-bottom: calc(calc($BASE_NUMBER * .2) * 9);
  }
}
