@import "../variables.scss";

.ml-1 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 1);
}

@media only screen and (min-width: $sm) {
  .ml-sm-1 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 1);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-1 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 1);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-1 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 1);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-1 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 1);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-1 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 1);
  }
}

@media print {
  .ml-print-1 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 1);
  }
}
