@import "../variables.scss";

.ml-17 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 17);
}

@media only screen and (min-width: $sm) {
  .ml-sm-17 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 17);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-17 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 17);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-17 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 17);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-17 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 17);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-17 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 17);
  }
}

@media print {
  .ml-print-17 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 17);
  }
}
