@import "../variables.scss";

.ml-16 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 16);
}

@media only screen and (min-width: $sm) {
  .ml-sm-16 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 16);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-16 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 16);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-16 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 16);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-16 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 16);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-16 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 16);
  }
}

@media print {
  .ml-print-16 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 16);
  }
}
