@import "../variables.scss";

.ml-23 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 23);
}

@media only screen and (min-width: $sm) {
  .ml-sm-23 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-23 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-23 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-23 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-23 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media print {
  .ml-print-23 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 23);
  }
}
