@import "../variables.scss";

.ml-20 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 20);
}

@media only screen and (min-width: $sm) {
  .ml-sm-20 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 20);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-20 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 20);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-20 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 20);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-20 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 20);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-20 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 20);
  }
}

@media print {
  .ml-print-20 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 20);
  }
}
