@import "../variables.scss";

.ml-21 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 21);
}

@media only screen and (min-width: $sm) {
  .ml-sm-21 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 21);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-21 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 21);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-21 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 21);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-21 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 21);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-21 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 21);
  }
}

@media print {
  .ml-print-21 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 21);
  }
}
