@import "../variables.scss";

.ml-22 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 22);
}

@media only screen and (min-width: $sm) {
  .ml-sm-22 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 22);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-22 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 22);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-22 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 22);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-22 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 22);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-22 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 22);
  }
}

@media print {
  .ml-print-22 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 22);
  }
}
