@import "../variables.scss";

.ml-29 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 29);
}

@media only screen and (min-width: $sm) {
  .ml-sm-29 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-29 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-29 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-29 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-29 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media print {
  .ml-print-29 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 29);
  }
}
