@import "../variables.scss";

.ml-27 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 27);
}

@media only screen and (min-width: $sm) {
  .ml-sm-27 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 27);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-27 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 27);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-27 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 27);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-27 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 27);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-27 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 27);
  }
}

@media print {
  .ml-print-27 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 27);
  }
}
