@import "../variables.scss";

.ml-33 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 33);
}

@media only screen and (min-width: $sm) {
  .ml-sm-33 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 33);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-33 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 33);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-33 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 33);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-33 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 33);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-33 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 33);
  }
}

@media print {
  .ml-print-33 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 33);
  }
}
