@import "../variables.scss";

.ml-31 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 31);
}

@media only screen and (min-width: $sm) {
  .ml-sm-31 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 31);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-31 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 31);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-31 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 31);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-31 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 31);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-31 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 31);
  }
}

@media print {
  .ml-print-31 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 31);
  }
}
