@import "../variables.scss";

.ml-30 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 30);
}

@media only screen and (min-width: $sm) {
  .ml-sm-30 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 30);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-30 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 30);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-30 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 30);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-30 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 30);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-30 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 30);
  }
}

@media print {
  .ml-print-30 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 30);
  }
}
