@import "../variables.scss";

.ml-38 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 38);
}

@media only screen and (min-width: $sm) {
  .ml-sm-38 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 38);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-38 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 38);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-38 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 38);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-38 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 38);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-38 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 38);
  }
}

@media print {
  .ml-print-38 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 38);
  }
}
