@import "../variables.scss";

.ml-45 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 45);
}

@media only screen and (min-width: $sm) {
  .ml-sm-45 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 45);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-45 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 45);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-45 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 45);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-45 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 45);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-45 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 45);
  }
}

@media print {
  .ml-print-45 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 45);
  }
}
