@import "../variables.scss";

.ml-42 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 42);
}

@media only screen and (min-width: $sm) {
  .ml-sm-42 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-42 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-42 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-42 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-42 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media print {
  .ml-print-42 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 42);
  }
}
