@import "../variables.scss";

.ml-48 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 48);
}

@media only screen and (min-width: $sm) {
  .ml-sm-48 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 48);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-48 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 48);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-48 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 48);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-48 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 48);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-48 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 48);
  }
}

@media print {
  .ml-print-48 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 48);
  }
}
