@import "../variables.scss";

.ml-43 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 43);
}

@media only screen and (min-width: $sm) {
  .ml-sm-43 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 43);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-43 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 43);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-43 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 43);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-43 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 43);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-43 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 43);
  }
}

@media print {
  .ml-print-43 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 43);
  }
}
