@import "../variables.scss";

.ml-47 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 47);
}

@media only screen and (min-width: $sm) {
  .ml-sm-47 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 47);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-47 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 47);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-47 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 47);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-47 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 47);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-47 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 47);
  }
}

@media print {
  .ml-print-47 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 47);
  }
}
