@import "../variables.scss";

.ml-54 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 54);
}

@media only screen and (min-width: $sm) {
  .ml-sm-54 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 54);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-54 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 54);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-54 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 54);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-54 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 54);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-54 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 54);
  }
}

@media print {
  .ml-print-54 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 54);
  }
}
