@import "../variables.scss";

.ml-53 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 53);
}

@media only screen and (min-width: $sm) {
  .ml-sm-53 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 53);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-53 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 53);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-53 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 53);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-53 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 53);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-53 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 53);
  }
}

@media print {
  .ml-print-53 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 53);
  }
}
