@import "../variables.scss";

.ml-55 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 55);
}

@media only screen and (min-width: $sm) {
  .ml-sm-55 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 55);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-55 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 55);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-55 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 55);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-55 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 55);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-55 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 55);
  }
}

@media print {
  .ml-print-55 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 55);
  }
}
