@import "../variables.scss";

.ml-7 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 7);
}

@media only screen and (min-width: $sm) {
  .ml-sm-7 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 7);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-7 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 7);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-7 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 7);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-7 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 7);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-7 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 7);
  }
}

@media print {
  .ml-print-7 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 7);
  }
}
