@import "../variables.scss";

.ml-8 {
  margin-left: calc(calc($BASE_NUMBER * .2) * 8);
}

@media only screen and (min-width: $sm) {
  .ml-sm-8 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 8);
  }
}

@media only screen and (min-width: $md) {
  .ml-md-8 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 8);
  }
}

@media only screen and (min-width: $lg) {
  .ml-lg-8 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 8);
  }
}

@media only screen and (min-width: $xl) {
  .ml-xl-8 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 8);
  }
}

@media only screen and (min-width: $xxl) {
  .ml-xxl-8 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 8);
  }
}

@media print {
  .ml-print-8 {
    margin-left: calc(calc($BASE_NUMBER * .2) * 8);
  }
}
