@import "../variables.scss";

.mr-0 {
  margin-right: calc(calc($BASE_NUMBER * .2) * 0);
}

@media only screen and (min-width: $sm) {
  .mr-sm-0 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 0);
  }
}

@media only screen and (min-width: $md) {
  .mr-md-0 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 0);
  }
}

@media only screen and (min-width: $lg) {
  .mr-lg-0 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 0);
  }
}

@media only screen and (min-width: $xl) {
  .mr-xl-0 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 0);
  }
}

@media only screen and (min-width: $xxl) {
  .mr-xxl-0 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 0);
  }
}

@media print {
  .mr-print-0 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 0);
  }
}
