@import "../variables.scss";

.mr-16 {
  margin-right: calc(calc($BASE_NUMBER * .2) * 16);
}

@media only screen and (min-width: $sm) {
  .mr-sm-16 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 16);
  }
}

@media only screen and (min-width: $md) {
  .mr-md-16 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 16);
  }
}

@media only screen and (min-width: $lg) {
  .mr-lg-16 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 16);
  }
}

@media only screen and (min-width: $xl) {
  .mr-xl-16 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 16);
  }
}

@media only screen and (min-width: $xxl) {
  .mr-xxl-16 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 16);
  }
}

@media print {
  .mr-print-16 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 16);
  }
}
