@import "../variables.scss";

.mr-30 {
  margin-right: calc(calc($BASE_NUMBER * .2) * 30);
}

@media only screen and (min-width: $sm) {
  .mr-sm-30 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 30);
  }
}

@media only screen and (min-width: $md) {
  .mr-md-30 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 30);
  }
}

@media only screen and (min-width: $lg) {
  .mr-lg-30 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 30);
  }
}

@media only screen and (min-width: $xl) {
  .mr-xl-30 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 30);
  }
}

@media only screen and (min-width: $xxl) {
  .mr-xxl-30 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 30);
  }
}

@media print {
  .mr-print-30 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 30);
  }
}
