@import "../variables.scss";

.mr-41 {
  margin-right: calc(calc($BASE_NUMBER * .2) * 41);
}

@media only screen and (min-width: $sm) {
  .mr-sm-41 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 41);
  }
}

@media only screen and (min-width: $md) {
  .mr-md-41 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 41);
  }
}

@media only screen and (min-width: $lg) {
  .mr-lg-41 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 41);
  }
}

@media only screen and (min-width: $xl) {
  .mr-xl-41 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 41);
  }
}

@media only screen and (min-width: $xxl) {
  .mr-xxl-41 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 41);
  }
}

@media print {
  .mr-print-41 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 41);
  }
}
