@import "../variables.scss";

.mr-4 {
  margin-right: calc(calc($BASE_NUMBER * .2) * 4);
}

@media only screen and (min-width: $sm) {
  .mr-sm-4 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 4);
  }
}

@media only screen and (min-width: $md) {
  .mr-md-4 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 4);
  }
}

@media only screen and (min-width: $lg) {
  .mr-lg-4 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 4);
  }
}

@media only screen and (min-width: $xl) {
  .mr-xl-4 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 4);
  }
}

@media only screen and (min-width: $xxl) {
  .mr-xxl-4 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 4);
  }
}

@media print {
  .mr-print-4 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 4);
  }
}
