@import "../variables.scss";

.mr-50 {
  margin-right: calc(calc($BASE_NUMBER * .2) * 50);
}

@media only screen and (min-width: $sm) {
  .mr-sm-50 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 50);
  }
}

@media only screen and (min-width: $md) {
  .mr-md-50 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 50);
  }
}

@media only screen and (min-width: $lg) {
  .mr-lg-50 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 50);
  }
}

@media only screen and (min-width: $xl) {
  .mr-xl-50 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 50);
  }
}

@media only screen and (min-width: $xxl) {
  .mr-xxl-50 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 50);
  }
}

@media print {
  .mr-print-50 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 50);
  }
}
