@import "../variables.scss";

.mr-55 {
  margin-right: calc(calc($BASE_NUMBER * .2) * 55);
}

@media only screen and (min-width: $sm) {
  .mr-sm-55 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 55);
  }
}

@media only screen and (min-width: $md) {
  .mr-md-55 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 55);
  }
}

@media only screen and (min-width: $lg) {
  .mr-lg-55 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 55);
  }
}

@media only screen and (min-width: $xl) {
  .mr-xl-55 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 55);
  }
}

@media only screen and (min-width: $xxl) {
  .mr-xxl-55 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 55);
  }
}

@media print {
  .mr-print-55 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 55);
  }
}
