@import "../variables.scss";

.mr-51 {
  margin-right: calc(calc($BASE_NUMBER * .2) * 51);
}

@media only screen and (min-width: $sm) {
  .mr-sm-51 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 51);
  }
}

@media only screen and (min-width: $md) {
  .mr-md-51 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 51);
  }
}

@media only screen and (min-width: $lg) {
  .mr-lg-51 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 51);
  }
}

@media only screen and (min-width: $xl) {
  .mr-xl-51 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 51);
  }
}

@media only screen and (min-width: $xxl) {
  .mr-xxl-51 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 51);
  }
}

@media print {
  .mr-print-51 {
    margin-right: calc(calc($BASE_NUMBER * .2) * 51);
  }
}
