@import "../variables.scss";

.mt-28 {
  margin-top: calc(calc($BASE_NUMBER * .2) * 28);
}

@media only screen and (min-width: $sm) {
  .mt-sm-28 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media only screen and (min-width: $md) {
  .mt-md-28 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media only screen and (min-width: $lg) {
  .mt-lg-28 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media only screen and (min-width: $xl) {
  .mt-xl-28 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media only screen and (min-width: $xxl) {
  .mt-xxl-28 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media print {
  .mt-print-28 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 28);
  }
}
