@import "../variables.scss";

.mt-2 {
  margin-top: calc(calc($BASE_NUMBER * .2) * 2);
}

@media only screen and (min-width: $sm) {
  .mt-sm-2 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 2);
  }
}

@media only screen and (min-width: $md) {
  .mt-md-2 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 2);
  }
}

@media only screen and (min-width: $lg) {
  .mt-lg-2 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 2);
  }
}

@media only screen and (min-width: $xl) {
  .mt-xl-2 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 2);
  }
}

@media only screen and (min-width: $xxl) {
  .mt-xxl-2 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 2);
  }
}

@media print {
  .mt-print-2 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 2);
  }
}
