@import "../variables.scss";

.mt-38 {
  margin-top: calc(calc($BASE_NUMBER * .2) * 38);
}

@media only screen and (min-width: $sm) {
  .mt-sm-38 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 38);
  }
}

@media only screen and (min-width: $md) {
  .mt-md-38 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 38);
  }
}

@media only screen and (min-width: $lg) {
  .mt-lg-38 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 38);
  }
}

@media only screen and (min-width: $xl) {
  .mt-xl-38 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 38);
  }
}

@media only screen and (min-width: $xxl) {
  .mt-xxl-38 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 38);
  }
}

@media print {
  .mt-print-38 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 38);
  }
}
