@import "../variables.scss";

.mt-36 {
  margin-top: calc(calc($BASE_NUMBER * .2) * 36);
}

@media only screen and (min-width: $sm) {
  .mt-sm-36 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 36);
  }
}

@media only screen and (min-width: $md) {
  .mt-md-36 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 36);
  }
}

@media only screen and (min-width: $lg) {
  .mt-lg-36 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 36);
  }
}

@media only screen and (min-width: $xl) {
  .mt-xl-36 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 36);
  }
}

@media only screen and (min-width: $xxl) {
  .mt-xxl-36 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 36);
  }
}

@media print {
  .mt-print-36 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 36);
  }
}
