@import "../variables.scss";

.mt-33 {
  margin-top: calc(calc($BASE_NUMBER * .2) * 33);
}

@media only screen and (min-width: $sm) {
  .mt-sm-33 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 33);
  }
}

@media only screen and (min-width: $md) {
  .mt-md-33 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 33);
  }
}

@media only screen and (min-width: $lg) {
  .mt-lg-33 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 33);
  }
}

@media only screen and (min-width: $xl) {
  .mt-xl-33 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 33);
  }
}

@media only screen and (min-width: $xxl) {
  .mt-xxl-33 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 33);
  }
}

@media print {
  .mt-print-33 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 33);
  }
}
