@import "../variables.scss";

.mt-44 {
  margin-top: calc(calc($BASE_NUMBER * .2) * 44);
}

@media only screen and (min-width: $sm) {
  .mt-sm-44 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media only screen and (min-width: $md) {
  .mt-md-44 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media only screen and (min-width: $lg) {
  .mt-lg-44 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media only screen and (min-width: $xl) {
  .mt-xl-44 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media only screen and (min-width: $xxl) {
  .mt-xxl-44 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media print {
  .mt-print-44 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 44);
  }
}
