@import "../variables.scss";

.mt-43 {
  margin-top: calc(calc($BASE_NUMBER * .2) * 43);
}

@media only screen and (min-width: $sm) {
  .mt-sm-43 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 43);
  }
}

@media only screen and (min-width: $md) {
  .mt-md-43 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 43);
  }
}

@media only screen and (min-width: $lg) {
  .mt-lg-43 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 43);
  }
}

@media only screen and (min-width: $xl) {
  .mt-xl-43 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 43);
  }
}

@media only screen and (min-width: $xxl) {
  .mt-xxl-43 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 43);
  }
}

@media print {
  .mt-print-43 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 43);
  }
}
