@import "../variables.scss";

.mt-41 {
  margin-top: calc(calc($BASE_NUMBER * .2) * 41);
}

@media only screen and (min-width: $sm) {
  .mt-sm-41 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 41);
  }
}

@media only screen and (min-width: $md) {
  .mt-md-41 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 41);
  }
}

@media only screen and (min-width: $lg) {
  .mt-lg-41 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 41);
  }
}

@media only screen and (min-width: $xl) {
  .mt-xl-41 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 41);
  }
}

@media only screen and (min-width: $xxl) {
  .mt-xxl-41 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 41);
  }
}

@media print {
  .mt-print-41 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 41);
  }
}
