@import "../variables.scss";

.mt-40 {
  margin-top: calc(calc($BASE_NUMBER * .2) * 40);
}

@media only screen and (min-width: $sm) {
  .mt-sm-40 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 40);
  }
}

@media only screen and (min-width: $md) {
  .mt-md-40 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 40);
  }
}

@media only screen and (min-width: $lg) {
  .mt-lg-40 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 40);
  }
}

@media only screen and (min-width: $xl) {
  .mt-xl-40 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 40);
  }
}

@media only screen and (min-width: $xxl) {
  .mt-xxl-40 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 40);
  }
}

@media print {
  .mt-print-40 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 40);
  }
}
