@import "../variables.scss";

.mt-54 {
  margin-top: calc(calc($BASE_NUMBER * .2) * 54);
}

@media only screen and (min-width: $sm) {
  .mt-sm-54 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 54);
  }
}

@media only screen and (min-width: $md) {
  .mt-md-54 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 54);
  }
}

@media only screen and (min-width: $lg) {
  .mt-lg-54 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 54);
  }
}

@media only screen and (min-width: $xl) {
  .mt-xl-54 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 54);
  }
}

@media only screen and (min-width: $xxl) {
  .mt-xxl-54 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 54);
  }
}

@media print {
  .mt-print-54 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 54);
  }
}
