@import "../variables.scss";

.mt-6 {
  margin-top: calc(calc($BASE_NUMBER * .2) * 6);
}

@media only screen and (min-width: $sm) {
  .mt-sm-6 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 6);
  }
}

@media only screen and (min-width: $md) {
  .mt-md-6 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 6);
  }
}

@media only screen and (min-width: $lg) {
  .mt-lg-6 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 6);
  }
}

@media only screen and (min-width: $xl) {
  .mt-xl-6 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 6);
  }
}

@media only screen and (min-width: $xxl) {
  .mt-xxl-6 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 6);
  }
}

@media print {
  .mt-print-6 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 6);
  }
}
