@import "../variables.scss";

.mt-9 {
  margin-top: calc(calc($BASE_NUMBER * .2) * 9);
}

@media only screen and (min-width: $sm) {
  .mt-sm-9 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 9);
  }
}

@media only screen and (min-width: $md) {
  .mt-md-9 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 9);
  }
}

@media only screen and (min-width: $lg) {
  .mt-lg-9 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 9);
  }
}

@media only screen and (min-width: $xl) {
  .mt-xl-9 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 9);
  }
}

@media only screen and (min-width: $xxl) {
  .mt-xxl-9 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 9);
  }
}

@media print {
  .mt-print-9 {
    margin-top: calc(calc($BASE_NUMBER * .2) * 9);
  }
}
