@import "../variables.scss";

.p-12 {
  padding: calc(calc($BASE_NUMBER * .2) * 12);
}

@media only screen and (min-width: $sm) {
  .p-sm-12 {
    padding: calc(calc($BASE_NUMBER * .2) * 12);
  }
}

@media only screen and (min-width: $md) {
  .p-md-12 {
    padding: calc(calc($BASE_NUMBER * .2) * 12);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-12 {
    padding: calc(calc($BASE_NUMBER * .2) * 12);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-12 {
    padding: calc(calc($BASE_NUMBER * .2) * 12);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-12 {
    padding: calc(calc($BASE_NUMBER * .2) * 12);
  }
}

@media print {
  .p-print-12 {
    padding: calc(calc($BASE_NUMBER * .2) * 12);
  }
}
