@import "../variables.scss";

.p-14 {
  padding: calc(calc($BASE_NUMBER * .2) * 14);
}

@media only screen and (min-width: $sm) {
  .p-sm-14 {
    padding: calc(calc($BASE_NUMBER * .2) * 14);
  }
}

@media only screen and (min-width: $md) {
  .p-md-14 {
    padding: calc(calc($BASE_NUMBER * .2) * 14);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-14 {
    padding: calc(calc($BASE_NUMBER * .2) * 14);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-14 {
    padding: calc(calc($BASE_NUMBER * .2) * 14);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-14 {
    padding: calc(calc($BASE_NUMBER * .2) * 14);
  }
}

@media print {
  .p-print-14 {
    padding: calc(calc($BASE_NUMBER * .2) * 14);
  }
}
