@import "../variables.scss";

.p-15 {
  padding: calc(calc($BASE_NUMBER * .2) * 15);
}

@media only screen and (min-width: $sm) {
  .p-sm-15 {
    padding: calc(calc($BASE_NUMBER * .2) * 15);
  }
}

@media only screen and (min-width: $md) {
  .p-md-15 {
    padding: calc(calc($BASE_NUMBER * .2) * 15);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-15 {
    padding: calc(calc($BASE_NUMBER * .2) * 15);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-15 {
    padding: calc(calc($BASE_NUMBER * .2) * 15);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-15 {
    padding: calc(calc($BASE_NUMBER * .2) * 15);
  }
}

@media print {
  .p-print-15 {
    padding: calc(calc($BASE_NUMBER * .2) * 15);
  }
}
