@import "../variables.scss";

.p-18 {
  padding: calc(calc($BASE_NUMBER * .2) * 18);
}

@media only screen and (min-width: $sm) {
  .p-sm-18 {
    padding: calc(calc($BASE_NUMBER * .2) * 18);
  }
}

@media only screen and (min-width: $md) {
  .p-md-18 {
    padding: calc(calc($BASE_NUMBER * .2) * 18);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-18 {
    padding: calc(calc($BASE_NUMBER * .2) * 18);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-18 {
    padding: calc(calc($BASE_NUMBER * .2) * 18);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-18 {
    padding: calc(calc($BASE_NUMBER * .2) * 18);
  }
}

@media print {
  .p-print-18 {
    padding: calc(calc($BASE_NUMBER * .2) * 18);
  }
}
