@import "../variables.scss";

.p-19 {
  padding: calc(calc($BASE_NUMBER * .2) * 19);
}

@media only screen and (min-width: $sm) {
  .p-sm-19 {
    padding: calc(calc($BASE_NUMBER * .2) * 19);
  }
}

@media only screen and (min-width: $md) {
  .p-md-19 {
    padding: calc(calc($BASE_NUMBER * .2) * 19);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-19 {
    padding: calc(calc($BASE_NUMBER * .2) * 19);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-19 {
    padding: calc(calc($BASE_NUMBER * .2) * 19);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-19 {
    padding: calc(calc($BASE_NUMBER * .2) * 19);
  }
}

@media print {
  .p-print-19 {
    padding: calc(calc($BASE_NUMBER * .2) * 19);
  }
}
