@import "../variables.scss";

.p-2 {
  padding: calc(calc($BASE_NUMBER * .2) * 2);
}

@media only screen and (min-width: $sm) {
  .p-sm-2 {
    padding: calc(calc($BASE_NUMBER * .2) * 2);
  }
}

@media only screen and (min-width: $md) {
  .p-md-2 {
    padding: calc(calc($BASE_NUMBER * .2) * 2);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-2 {
    padding: calc(calc($BASE_NUMBER * .2) * 2);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-2 {
    padding: calc(calc($BASE_NUMBER * .2) * 2);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-2 {
    padding: calc(calc($BASE_NUMBER * .2) * 2);
  }
}

@media print {
  .p-print-2 {
    padding: calc(calc($BASE_NUMBER * .2) * 2);
  }
}
