@import "../variables.scss";

.p-22 {
  padding: calc(calc($BASE_NUMBER * .2) * 22);
}

@media only screen and (min-width: $sm) {
  .p-sm-22 {
    padding: calc(calc($BASE_NUMBER * .2) * 22);
  }
}

@media only screen and (min-width: $md) {
  .p-md-22 {
    padding: calc(calc($BASE_NUMBER * .2) * 22);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-22 {
    padding: calc(calc($BASE_NUMBER * .2) * 22);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-22 {
    padding: calc(calc($BASE_NUMBER * .2) * 22);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-22 {
    padding: calc(calc($BASE_NUMBER * .2) * 22);
  }
}

@media print {
  .p-print-22 {
    padding: calc(calc($BASE_NUMBER * .2) * 22);
  }
}
