@import "../variables.scss";

.p-28 {
  padding: calc(calc($BASE_NUMBER * .2) * 28);
}

@media only screen and (min-width: $sm) {
  .p-sm-28 {
    padding: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media only screen and (min-width: $md) {
  .p-md-28 {
    padding: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-28 {
    padding: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-28 {
    padding: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-28 {
    padding: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media print {
  .p-print-28 {
    padding: calc(calc($BASE_NUMBER * .2) * 28);
  }
}
