@import "../variables.scss";

.p-32 {
  padding: calc(calc($BASE_NUMBER * .2) * 32);
}

@media only screen and (min-width: $sm) {
  .p-sm-32 {
    padding: calc(calc($BASE_NUMBER * .2) * 32);
  }
}

@media only screen and (min-width: $md) {
  .p-md-32 {
    padding: calc(calc($BASE_NUMBER * .2) * 32);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-32 {
    padding: calc(calc($BASE_NUMBER * .2) * 32);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-32 {
    padding: calc(calc($BASE_NUMBER * .2) * 32);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-32 {
    padding: calc(calc($BASE_NUMBER * .2) * 32);
  }
}

@media print {
  .p-print-32 {
    padding: calc(calc($BASE_NUMBER * .2) * 32);
  }
}
