@import "../variables.scss";

.p-33 {
  padding: calc(calc($BASE_NUMBER * .2) * 33);
}

@media only screen and (min-width: $sm) {
  .p-sm-33 {
    padding: calc(calc($BASE_NUMBER * .2) * 33);
  }
}

@media only screen and (min-width: $md) {
  .p-md-33 {
    padding: calc(calc($BASE_NUMBER * .2) * 33);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-33 {
    padding: calc(calc($BASE_NUMBER * .2) * 33);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-33 {
    padding: calc(calc($BASE_NUMBER * .2) * 33);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-33 {
    padding: calc(calc($BASE_NUMBER * .2) * 33);
  }
}

@media print {
  .p-print-33 {
    padding: calc(calc($BASE_NUMBER * .2) * 33);
  }
}
