@import "../variables.scss";

.p-36 {
  padding: calc(calc($BASE_NUMBER * .2) * 36);
}

@media only screen and (min-width: $sm) {
  .p-sm-36 {
    padding: calc(calc($BASE_NUMBER * .2) * 36);
  }
}

@media only screen and (min-width: $md) {
  .p-md-36 {
    padding: calc(calc($BASE_NUMBER * .2) * 36);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-36 {
    padding: calc(calc($BASE_NUMBER * .2) * 36);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-36 {
    padding: calc(calc($BASE_NUMBER * .2) * 36);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-36 {
    padding: calc(calc($BASE_NUMBER * .2) * 36);
  }
}

@media print {
  .p-print-36 {
    padding: calc(calc($BASE_NUMBER * .2) * 36);
  }
}
