@import "../variables.scss";

.p-4 {
  padding: calc(calc($BASE_NUMBER * .2) * 4);
}

@media only screen and (min-width: $sm) {
  .p-sm-4 {
    padding: calc(calc($BASE_NUMBER * .2) * 4);
  }
}

@media only screen and (min-width: $md) {
  .p-md-4 {
    padding: calc(calc($BASE_NUMBER * .2) * 4);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-4 {
    padding: calc(calc($BASE_NUMBER * .2) * 4);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-4 {
    padding: calc(calc($BASE_NUMBER * .2) * 4);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-4 {
    padding: calc(calc($BASE_NUMBER * .2) * 4);
  }
}

@media print {
  .p-print-4 {
    padding: calc(calc($BASE_NUMBER * .2) * 4);
  }
}
