@import "../variables.scss";

.p-40 {
  padding: calc(calc($BASE_NUMBER * .2) * 40);
}

@media only screen and (min-width: $sm) {
  .p-sm-40 {
    padding: calc(calc($BASE_NUMBER * .2) * 40);
  }
}

@media only screen and (min-width: $md) {
  .p-md-40 {
    padding: calc(calc($BASE_NUMBER * .2) * 40);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-40 {
    padding: calc(calc($BASE_NUMBER * .2) * 40);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-40 {
    padding: calc(calc($BASE_NUMBER * .2) * 40);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-40 {
    padding: calc(calc($BASE_NUMBER * .2) * 40);
  }
}

@media print {
  .p-print-40 {
    padding: calc(calc($BASE_NUMBER * .2) * 40);
  }
}
