@import "../variables.scss";

.p-42 {
  padding: calc(calc($BASE_NUMBER * .2) * 42);
}

@media only screen and (min-width: $sm) {
  .p-sm-42 {
    padding: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $md) {
  .p-md-42 {
    padding: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-42 {
    padding: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-42 {
    padding: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-42 {
    padding: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media print {
  .p-print-42 {
    padding: calc(calc($BASE_NUMBER * .2) * 42);
  }
}
