@import "../variables.scss";

.p-44 {
  padding: calc(calc($BASE_NUMBER * .2) * 44);
}

@media only screen and (min-width: $sm) {
  .p-sm-44 {
    padding: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media only screen and (min-width: $md) {
  .p-md-44 {
    padding: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-44 {
    padding: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-44 {
    padding: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-44 {
    padding: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media print {
  .p-print-44 {
    padding: calc(calc($BASE_NUMBER * .2) * 44);
  }
}
