@import "../variables.scss";

.p-48 {
  padding: calc(calc($BASE_NUMBER * .2) * 48);
}

@media only screen and (min-width: $sm) {
  .p-sm-48 {
    padding: calc(calc($BASE_NUMBER * .2) * 48);
  }
}

@media only screen and (min-width: $md) {
  .p-md-48 {
    padding: calc(calc($BASE_NUMBER * .2) * 48);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-48 {
    padding: calc(calc($BASE_NUMBER * .2) * 48);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-48 {
    padding: calc(calc($BASE_NUMBER * .2) * 48);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-48 {
    padding: calc(calc($BASE_NUMBER * .2) * 48);
  }
}

@media print {
  .p-print-48 {
    padding: calc(calc($BASE_NUMBER * .2) * 48);
  }
}
