@import "../variables.scss";

.p-52 {
  padding: calc(calc($BASE_NUMBER * .2) * 52);
}

@media only screen and (min-width: $sm) {
  .p-sm-52 {
    padding: calc(calc($BASE_NUMBER * .2) * 52);
  }
}

@media only screen and (min-width: $md) {
  .p-md-52 {
    padding: calc(calc($BASE_NUMBER * .2) * 52);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-52 {
    padding: calc(calc($BASE_NUMBER * .2) * 52);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-52 {
    padding: calc(calc($BASE_NUMBER * .2) * 52);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-52 {
    padding: calc(calc($BASE_NUMBER * .2) * 52);
  }
}

@media print {
  .p-print-52 {
    padding: calc(calc($BASE_NUMBER * .2) * 52);
  }
}
