@import "../variables.scss";

.p-53 {
  padding: calc(calc($BASE_NUMBER * .2) * 53);
}

@media only screen and (min-width: $sm) {
  .p-sm-53 {
    padding: calc(calc($BASE_NUMBER * .2) * 53);
  }
}

@media only screen and (min-width: $md) {
  .p-md-53 {
    padding: calc(calc($BASE_NUMBER * .2) * 53);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-53 {
    padding: calc(calc($BASE_NUMBER * .2) * 53);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-53 {
    padding: calc(calc($BASE_NUMBER * .2) * 53);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-53 {
    padding: calc(calc($BASE_NUMBER * .2) * 53);
  }
}

@media print {
  .p-print-53 {
    padding: calc(calc($BASE_NUMBER * .2) * 53);
  }
}
