@import "../variables.scss";

.p-7 {
  padding: calc(calc($BASE_NUMBER * .2) * 7);
}

@media only screen and (min-width: $sm) {
  .p-sm-7 {
    padding: calc(calc($BASE_NUMBER * .2) * 7);
  }
}

@media only screen and (min-width: $md) {
  .p-md-7 {
    padding: calc(calc($BASE_NUMBER * .2) * 7);
  }
}

@media only screen and (min-width: $lg) {
  .p-lg-7 {
    padding: calc(calc($BASE_NUMBER * .2) * 7);
  }
}

@media only screen and (min-width: $xl) {
  .p-xl-7 {
    padding: calc(calc($BASE_NUMBER * .2) * 7);
  }
}

@media only screen and (min-width: $xxl) {
  .p-xxl-7 {
    padding: calc(calc($BASE_NUMBER * .2) * 7);
  }
}

@media print {
  .p-print-7 {
    padding: calc(calc($BASE_NUMBER * .2) * 7);
  }
}
