@import "../variables.scss";

.pb-11 {
  padding-bottom: calc(calc($BASE_NUMBER * .2) * 11);
}

@media only screen and (min-width: $sm) {
  .pb-sm-11 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 11);
  }
}

@media only screen and (min-width: $md) {
  .pb-md-11 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 11);
  }
}

@media only screen and (min-width: $lg) {
  .pb-lg-11 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 11);
  }
}

@media only screen and (min-width: $xl) {
  .pb-xl-11 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 11);
  }
}

@media only screen and (min-width: $xxl) {
  .pb-xxl-11 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 11);
  }
}

@media print {
  .pb-print-11 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 11);
  }
}
