@import "../variables.scss";

.pb-19 {
  padding-bottom: calc(calc($BASE_NUMBER * .2) * 19);
}

@media only screen and (min-width: $sm) {
  .pb-sm-19 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 19);
  }
}

@media only screen and (min-width: $md) {
  .pb-md-19 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 19);
  }
}

@media only screen and (min-width: $lg) {
  .pb-lg-19 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 19);
  }
}

@media only screen and (min-width: $xl) {
  .pb-xl-19 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 19);
  }
}

@media only screen and (min-width: $xxl) {
  .pb-xxl-19 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 19);
  }
}

@media print {
  .pb-print-19 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 19);
  }
}
