@import "../variables.scss";

.pb-10 {
  padding-bottom: calc(calc($BASE_NUMBER * .2) * 10);
}

@media only screen and (min-width: $sm) {
  .pb-sm-10 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 10);
  }
}

@media only screen and (min-width: $md) {
  .pb-md-10 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 10);
  }
}

@media only screen and (min-width: $lg) {
  .pb-lg-10 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 10);
  }
}

@media only screen and (min-width: $xl) {
  .pb-xl-10 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 10);
  }
}

@media only screen and (min-width: $xxl) {
  .pb-xxl-10 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 10);
  }
}

@media print {
  .pb-print-10 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 10);
  }
}
