@import "../variables.scss";

.pb-23 {
  padding-bottom: calc(calc($BASE_NUMBER * .2) * 23);
}

@media only screen and (min-width: $sm) {
  .pb-sm-23 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $md) {
  .pb-md-23 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $lg) {
  .pb-lg-23 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $xl) {
  .pb-xl-23 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $xxl) {
  .pb-xxl-23 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media print {
  .pb-print-23 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 23);
  }
}
