@import "../variables.scss";

.pb-29 {
  padding-bottom: calc(calc($BASE_NUMBER * .2) * 29);
}

@media only screen and (min-width: $sm) {
  .pb-sm-29 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $md) {
  .pb-md-29 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $lg) {
  .pb-lg-29 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $xl) {
  .pb-xl-29 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $xxl) {
  .pb-xxl-29 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media print {
  .pb-print-29 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 29);
  }
}
