@import "../variables.scss";

.pb-38 {
  padding-bottom: calc(calc($BASE_NUMBER * .2) * 38);
}

@media only screen and (min-width: $sm) {
  .pb-sm-38 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 38);
  }
}

@media only screen and (min-width: $md) {
  .pb-md-38 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 38);
  }
}

@media only screen and (min-width: $lg) {
  .pb-lg-38 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 38);
  }
}

@media only screen and (min-width: $xl) {
  .pb-xl-38 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 38);
  }
}

@media only screen and (min-width: $xxl) {
  .pb-xxl-38 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 38);
  }
}

@media print {
  .pb-print-38 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 38);
  }
}
