@import "../variables.scss";

.pb-31 {
  padding-bottom: calc(calc($BASE_NUMBER * .2) * 31);
}

@media only screen and (min-width: $sm) {
  .pb-sm-31 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 31);
  }
}

@media only screen and (min-width: $md) {
  .pb-md-31 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 31);
  }
}

@media only screen and (min-width: $lg) {
  .pb-lg-31 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 31);
  }
}

@media only screen and (min-width: $xl) {
  .pb-xl-31 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 31);
  }
}

@media only screen and (min-width: $xxl) {
  .pb-xxl-31 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 31);
  }
}

@media print {
  .pb-print-31 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 31);
  }
}
