@import "../variables.scss";

.pb-44 {
  padding-bottom: calc(calc($BASE_NUMBER * .2) * 44);
}

@media only screen and (min-width: $sm) {
  .pb-sm-44 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media only screen and (min-width: $md) {
  .pb-md-44 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media only screen and (min-width: $lg) {
  .pb-lg-44 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media only screen and (min-width: $xl) {
  .pb-xl-44 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media only screen and (min-width: $xxl) {
  .pb-xxl-44 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 44);
  }
}

@media print {
  .pb-print-44 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 44);
  }
}
