@import "../variables.scss";

.pb-4 {
  padding-bottom: calc(calc($BASE_NUMBER * .2) * 4);
}

@media only screen and (min-width: $sm) {
  .pb-sm-4 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 4);
  }
}

@media only screen and (min-width: $md) {
  .pb-md-4 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 4);
  }
}

@media only screen and (min-width: $lg) {
  .pb-lg-4 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 4);
  }
}

@media only screen and (min-width: $xl) {
  .pb-xl-4 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 4);
  }
}

@media only screen and (min-width: $xxl) {
  .pb-xxl-4 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 4);
  }
}

@media print {
  .pb-print-4 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 4);
  }
}
