@import "../variables.scss";

.pb-46 {
  padding-bottom: calc(calc($BASE_NUMBER * .2) * 46);
}

@media only screen and (min-width: $sm) {
  .pb-sm-46 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 46);
  }
}

@media only screen and (min-width: $md) {
  .pb-md-46 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 46);
  }
}

@media only screen and (min-width: $lg) {
  .pb-lg-46 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 46);
  }
}

@media only screen and (min-width: $xl) {
  .pb-xl-46 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 46);
  }
}

@media only screen and (min-width: $xxl) {
  .pb-xxl-46 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 46);
  }
}

@media print {
  .pb-print-46 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 46);
  }
}
