@import "../variables.scss";

.pb-43 {
  padding-bottom: calc(calc($BASE_NUMBER * .2) * 43);
}

@media only screen and (min-width: $sm) {
  .pb-sm-43 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 43);
  }
}

@media only screen and (min-width: $md) {
  .pb-md-43 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 43);
  }
}

@media only screen and (min-width: $lg) {
  .pb-lg-43 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 43);
  }
}

@media only screen and (min-width: $xl) {
  .pb-xl-43 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 43);
  }
}

@media only screen and (min-width: $xxl) {
  .pb-xxl-43 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 43);
  }
}

@media print {
  .pb-print-43 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 43);
  }
}
