@import "../variables.scss";

.pb-54 {
  padding-bottom: calc(calc($BASE_NUMBER * .2) * 54);
}

@media only screen and (min-width: $sm) {
  .pb-sm-54 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 54);
  }
}

@media only screen and (min-width: $md) {
  .pb-md-54 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 54);
  }
}

@media only screen and (min-width: $lg) {
  .pb-lg-54 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 54);
  }
}

@media only screen and (min-width: $xl) {
  .pb-xl-54 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 54);
  }
}

@media only screen and (min-width: $xxl) {
  .pb-xxl-54 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 54);
  }
}

@media print {
  .pb-print-54 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 54);
  }
}
