@import "../variables.scss";

.pb-55 {
  padding-bottom: calc(calc($BASE_NUMBER * .2) * 55);
}

@media only screen and (min-width: $sm) {
  .pb-sm-55 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 55);
  }
}

@media only screen and (min-width: $md) {
  .pb-md-55 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 55);
  }
}

@media only screen and (min-width: $lg) {
  .pb-lg-55 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 55);
  }
}

@media only screen and (min-width: $xl) {
  .pb-xl-55 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 55);
  }
}

@media only screen and (min-width: $xxl) {
  .pb-xxl-55 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 55);
  }
}

@media print {
  .pb-print-55 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 55);
  }
}
