@import "../variables.scss";

.pb-7 {
  padding-bottom: calc(calc($BASE_NUMBER * .2) * 7);
}

@media only screen and (min-width: $sm) {
  .pb-sm-7 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 7);
  }
}

@media only screen and (min-width: $md) {
  .pb-md-7 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 7);
  }
}

@media only screen and (min-width: $lg) {
  .pb-lg-7 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 7);
  }
}

@media only screen and (min-width: $xl) {
  .pb-xl-7 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 7);
  }
}

@media only screen and (min-width: $xxl) {
  .pb-xxl-7 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 7);
  }
}

@media print {
  .pb-print-7 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 7);
  }
}
