@import "../variables.scss";

.pb-9 {
  padding-bottom: calc(calc($BASE_NUMBER * .2) * 9);
}

@media only screen and (min-width: $sm) {
  .pb-sm-9 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 9);
  }
}

@media only screen and (min-width: $md) {
  .pb-md-9 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 9);
  }
}

@media only screen and (min-width: $lg) {
  .pb-lg-9 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 9);
  }
}

@media only screen and (min-width: $xl) {
  .pb-xl-9 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 9);
  }
}

@media only screen and (min-width: $xxl) {
  .pb-xxl-9 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 9);
  }
}

@media print {
  .pb-print-9 {
    padding-bottom: calc(calc($BASE_NUMBER * .2) * 9);
  }
}
