@import "../variables.scss";

.pl-0 {
  padding-left: calc(calc($BASE_NUMBER * .2) * 0);
}

@media only screen and (min-width: $sm) {
  .pl-sm-0 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 0);
  }
}

@media only screen and (min-width: $md) {
  .pl-md-0 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 0);
  }
}

@media only screen and (min-width: $lg) {
  .pl-lg-0 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 0);
  }
}

@media only screen and (min-width: $xl) {
  .pl-xl-0 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 0);
  }
}

@media only screen and (min-width: $xxl) {
  .pl-xxl-0 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 0);
  }
}

@media print {
  .pl-print-0 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 0);
  }
}
