@import "../variables.scss";

.pl-12 {
  padding-left: calc(calc($BASE_NUMBER * .2) * 12);
}

@media only screen and (min-width: $sm) {
  .pl-sm-12 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 12);
  }
}

@media only screen and (min-width: $md) {
  .pl-md-12 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 12);
  }
}

@media only screen and (min-width: $lg) {
  .pl-lg-12 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 12);
  }
}

@media only screen and (min-width: $xl) {
  .pl-xl-12 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 12);
  }
}

@media only screen and (min-width: $xxl) {
  .pl-xxl-12 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 12);
  }
}

@media print {
  .pl-print-12 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 12);
  }
}
