@import "../variables.scss";

.pl-13 {
  padding-left: calc(calc($BASE_NUMBER * .2) * 13);
}

@media only screen and (min-width: $sm) {
  .pl-sm-13 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 13);
  }
}

@media only screen and (min-width: $md) {
  .pl-md-13 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 13);
  }
}

@media only screen and (min-width: $lg) {
  .pl-lg-13 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 13);
  }
}

@media only screen and (min-width: $xl) {
  .pl-xl-13 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 13);
  }
}

@media only screen and (min-width: $xxl) {
  .pl-xxl-13 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 13);
  }
}

@media print {
  .pl-print-13 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 13);
  }
}
