@import "../variables.scss";

.pl-17 {
  padding-left: calc(calc($BASE_NUMBER * .2) * 17);
}

@media only screen and (min-width: $sm) {
  .pl-sm-17 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 17);
  }
}

@media only screen and (min-width: $md) {
  .pl-md-17 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 17);
  }
}

@media only screen and (min-width: $lg) {
  .pl-lg-17 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 17);
  }
}

@media only screen and (min-width: $xl) {
  .pl-xl-17 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 17);
  }
}

@media only screen and (min-width: $xxl) {
  .pl-xxl-17 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 17);
  }
}

@media print {
  .pl-print-17 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 17);
  }
}
