@import "../variables.scss";

.pl-27 {
  padding-left: calc(calc($BASE_NUMBER * .2) * 27);
}

@media only screen and (min-width: $sm) {
  .pl-sm-27 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 27);
  }
}

@media only screen and (min-width: $md) {
  .pl-md-27 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 27);
  }
}

@media only screen and (min-width: $lg) {
  .pl-lg-27 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 27);
  }
}

@media only screen and (min-width: $xl) {
  .pl-xl-27 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 27);
  }
}

@media only screen and (min-width: $xxl) {
  .pl-xxl-27 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 27);
  }
}

@media print {
  .pl-print-27 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 27);
  }
}
