@import "../variables.scss";

.pl-28 {
  padding-left: calc(calc($BASE_NUMBER * .2) * 28);
}

@media only screen and (min-width: $sm) {
  .pl-sm-28 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media only screen and (min-width: $md) {
  .pl-md-28 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media only screen and (min-width: $lg) {
  .pl-lg-28 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media only screen and (min-width: $xl) {
  .pl-xl-28 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media only screen and (min-width: $xxl) {
  .pl-xxl-28 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 28);
  }
}

@media print {
  .pl-print-28 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 28);
  }
}
