@import "../variables.scss";

.pl-29 {
  padding-left: calc(calc($BASE_NUMBER * .2) * 29);
}

@media only screen and (min-width: $sm) {
  .pl-sm-29 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $md) {
  .pl-md-29 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $lg) {
  .pl-lg-29 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $xl) {
  .pl-xl-29 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $xxl) {
  .pl-xxl-29 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media print {
  .pl-print-29 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 29);
  }
}
