@import "../variables.scss";

.pl-39 {
  padding-left: calc(calc($BASE_NUMBER * .2) * 39);
}

@media only screen and (min-width: $sm) {
  .pl-sm-39 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 39);
  }
}

@media only screen and (min-width: $md) {
  .pl-md-39 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 39);
  }
}

@media only screen and (min-width: $lg) {
  .pl-lg-39 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 39);
  }
}

@media only screen and (min-width: $xl) {
  .pl-xl-39 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 39);
  }
}

@media only screen and (min-width: $xxl) {
  .pl-xxl-39 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 39);
  }
}

@media print {
  .pl-print-39 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 39);
  }
}
