@import "../variables.scss";

.pl-49 {
  padding-left: calc(calc($BASE_NUMBER * .2) * 49);
}

@media only screen and (min-width: $sm) {
  .pl-sm-49 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 49);
  }
}

@media only screen and (min-width: $md) {
  .pl-md-49 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 49);
  }
}

@media only screen and (min-width: $lg) {
  .pl-lg-49 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 49);
  }
}

@media only screen and (min-width: $xl) {
  .pl-xl-49 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 49);
  }
}

@media only screen and (min-width: $xxl) {
  .pl-xxl-49 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 49);
  }
}

@media print {
  .pl-print-49 {
    padding-left: calc(calc($BASE_NUMBER * .2) * 49);
  }
}
