@import "../variables.scss";

.pr-17 {
  padding-right: calc(calc($BASE_NUMBER * .2) * 17);
}

@media only screen and (min-width: $sm) {
  .pr-sm-17 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 17);
  }
}

@media only screen and (min-width: $md) {
  .pr-md-17 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 17);
  }
}

@media only screen and (min-width: $lg) {
  .pr-lg-17 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 17);
  }
}

@media only screen and (min-width: $xl) {
  .pr-xl-17 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 17);
  }
}

@media only screen and (min-width: $xxl) {
  .pr-xxl-17 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 17);
  }
}

@media print {
  .pr-print-17 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 17);
  }
}
