@import "../variables.scss";

.pr-23 {
  padding-right: calc(calc($BASE_NUMBER * .2) * 23);
}

@media only screen and (min-width: $sm) {
  .pr-sm-23 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $md) {
  .pr-md-23 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $lg) {
  .pr-lg-23 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $xl) {
  .pr-xl-23 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $xxl) {
  .pr-xxl-23 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media print {
  .pr-print-23 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 23);
  }
}
