@import "../variables.scss";

.pr-24 {
  padding-right: calc(calc($BASE_NUMBER * .2) * 24);
}

@media only screen and (min-width: $sm) {
  .pr-sm-24 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 24);
  }
}

@media only screen and (min-width: $md) {
  .pr-md-24 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 24);
  }
}

@media only screen and (min-width: $lg) {
  .pr-lg-24 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 24);
  }
}

@media only screen and (min-width: $xl) {
  .pr-xl-24 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 24);
  }
}

@media only screen and (min-width: $xxl) {
  .pr-xxl-24 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 24);
  }
}

@media print {
  .pr-print-24 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 24);
  }
}
