@import "../variables.scss";

.pr-45 {
  padding-right: calc(calc($BASE_NUMBER * .2) * 45);
}

@media only screen and (min-width: $sm) {
  .pr-sm-45 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 45);
  }
}

@media only screen and (min-width: $md) {
  .pr-md-45 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 45);
  }
}

@media only screen and (min-width: $lg) {
  .pr-lg-45 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 45);
  }
}

@media only screen and (min-width: $xl) {
  .pr-xl-45 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 45);
  }
}

@media only screen and (min-width: $xxl) {
  .pr-xxl-45 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 45);
  }
}

@media print {
  .pr-print-45 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 45);
  }
}
