@import "../variables.scss";

.pr-42 {
  padding-right: calc(calc($BASE_NUMBER * .2) * 42);
}

@media only screen and (min-width: $sm) {
  .pr-sm-42 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $md) {
  .pr-md-42 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $lg) {
  .pr-lg-42 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $xl) {
  .pr-xl-42 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media only screen and (min-width: $xxl) {
  .pr-xxl-42 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 42);
  }
}

@media print {
  .pr-print-42 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 42);
  }
}
