@import "../variables.scss";

.pr-49 {
  padding-right: calc(calc($BASE_NUMBER * .2) * 49);
}

@media only screen and (min-width: $sm) {
  .pr-sm-49 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 49);
  }
}

@media only screen and (min-width: $md) {
  .pr-md-49 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 49);
  }
}

@media only screen and (min-width: $lg) {
  .pr-lg-49 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 49);
  }
}

@media only screen and (min-width: $xl) {
  .pr-xl-49 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 49);
  }
}

@media only screen and (min-width: $xxl) {
  .pr-xxl-49 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 49);
  }
}

@media print {
  .pr-print-49 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 49);
  }
}
