@import "../variables.scss";

.pr-5 {
  padding-right: calc(calc($BASE_NUMBER * .2) * 5);
}

@media only screen and (min-width: $sm) {
  .pr-sm-5 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 5);
  }
}

@media only screen and (min-width: $md) {
  .pr-md-5 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 5);
  }
}

@media only screen and (min-width: $lg) {
  .pr-lg-5 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 5);
  }
}

@media only screen and (min-width: $xl) {
  .pr-xl-5 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 5);
  }
}

@media only screen and (min-width: $xxl) {
  .pr-xxl-5 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 5);
  }
}

@media print {
  .pr-print-5 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 5);
  }
}
