@import "../variables.scss";

.pr-51 {
  padding-right: calc(calc($BASE_NUMBER * .2) * 51);
}

@media only screen and (min-width: $sm) {
  .pr-sm-51 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 51);
  }
}

@media only screen and (min-width: $md) {
  .pr-md-51 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 51);
  }
}

@media only screen and (min-width: $lg) {
  .pr-lg-51 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 51);
  }
}

@media only screen and (min-width: $xl) {
  .pr-xl-51 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 51);
  }
}

@media only screen and (min-width: $xxl) {
  .pr-xxl-51 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 51);
  }
}

@media print {
  .pr-print-51 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 51);
  }
}
