@import "../variables.scss";

.pr-8 {
  padding-right: calc(calc($BASE_NUMBER * .2) * 8);
}

@media only screen and (min-width: $sm) {
  .pr-sm-8 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 8);
  }
}

@media only screen and (min-width: $md) {
  .pr-md-8 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 8);
  }
}

@media only screen and (min-width: $lg) {
  .pr-lg-8 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 8);
  }
}

@media only screen and (min-width: $xl) {
  .pr-xl-8 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 8);
  }
}

@media only screen and (min-width: $xxl) {
  .pr-xxl-8 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 8);
  }
}

@media print {
  .pr-print-8 {
    padding-right: calc(calc($BASE_NUMBER * .2) * 8);
  }
}
