@import "../variables.scss";

.pt-15 {
  padding-top: calc(calc($BASE_NUMBER * .2) * 15);
}

@media only screen and (min-width: $sm) {
  .pt-sm-15 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 15);
  }
}

@media only screen and (min-width: $md) {
  .pt-md-15 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 15);
  }
}

@media only screen and (min-width: $lg) {
  .pt-lg-15 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 15);
  }
}

@media only screen and (min-width: $xl) {
  .pt-xl-15 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 15);
  }
}

@media only screen and (min-width: $xxl) {
  .pt-xxl-15 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 15);
  }
}

@media print {
  .pt-print-15 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 15);
  }
}
