@import "../variables.scss";

.pt-18 {
  padding-top: calc(calc($BASE_NUMBER * .2) * 18);
}

@media only screen and (min-width: $sm) {
  .pt-sm-18 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 18);
  }
}

@media only screen and (min-width: $md) {
  .pt-md-18 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 18);
  }
}

@media only screen and (min-width: $lg) {
  .pt-lg-18 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 18);
  }
}

@media only screen and (min-width: $xl) {
  .pt-xl-18 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 18);
  }
}

@media only screen and (min-width: $xxl) {
  .pt-xxl-18 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 18);
  }
}

@media print {
  .pt-print-18 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 18);
  }
}
