@import "../variables.scss";

.pt-23 {
  padding-top: calc(calc($BASE_NUMBER * .2) * 23);
}

@media only screen and (min-width: $sm) {
  .pt-sm-23 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $md) {
  .pt-md-23 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $lg) {
  .pt-lg-23 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $xl) {
  .pt-xl-23 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media only screen and (min-width: $xxl) {
  .pt-xxl-23 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 23);
  }
}

@media print {
  .pt-print-23 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 23);
  }
}
