@import "../variables.scss";

.pt-24 {
  padding-top: calc(calc($BASE_NUMBER * .2) * 24);
}

@media only screen and (min-width: $sm) {
  .pt-sm-24 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 24);
  }
}

@media only screen and (min-width: $md) {
  .pt-md-24 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 24);
  }
}

@media only screen and (min-width: $lg) {
  .pt-lg-24 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 24);
  }
}

@media only screen and (min-width: $xl) {
  .pt-xl-24 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 24);
  }
}

@media only screen and (min-width: $xxl) {
  .pt-xxl-24 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 24);
  }
}

@media print {
  .pt-print-24 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 24);
  }
}
