@import "../variables.scss";

.pt-27 {
  padding-top: calc(calc($BASE_NUMBER * .2) * 27);
}

@media only screen and (min-width: $sm) {
  .pt-sm-27 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 27);
  }
}

@media only screen and (min-width: $md) {
  .pt-md-27 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 27);
  }
}

@media only screen and (min-width: $lg) {
  .pt-lg-27 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 27);
  }
}

@media only screen and (min-width: $xl) {
  .pt-xl-27 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 27);
  }
}

@media only screen and (min-width: $xxl) {
  .pt-xxl-27 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 27);
  }
}

@media print {
  .pt-print-27 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 27);
  }
}
