@import "../variables.scss";

.pt-29 {
  padding-top: calc(calc($BASE_NUMBER * .2) * 29);
}

@media only screen and (min-width: $sm) {
  .pt-sm-29 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $md) {
  .pt-md-29 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $lg) {
  .pt-lg-29 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $xl) {
  .pt-xl-29 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media only screen and (min-width: $xxl) {
  .pt-xxl-29 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 29);
  }
}

@media print {
  .pt-print-29 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 29);
  }
}
