@import "../variables.scss";

.pt-20 {
  padding-top: calc(calc($BASE_NUMBER * .2) * 20);
}

@media only screen and (min-width: $sm) {
  .pt-sm-20 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 20);
  }
}

@media only screen and (min-width: $md) {
  .pt-md-20 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 20);
  }
}

@media only screen and (min-width: $lg) {
  .pt-lg-20 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 20);
  }
}

@media only screen and (min-width: $xl) {
  .pt-xl-20 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 20);
  }
}

@media only screen and (min-width: $xxl) {
  .pt-xxl-20 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 20);
  }
}

@media print {
  .pt-print-20 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 20);
  }
}
