@import "../variables.scss";

.pt-37 {
  padding-top: calc(calc($BASE_NUMBER * .2) * 37);
}

@media only screen and (min-width: $sm) {
  .pt-sm-37 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 37);
  }
}

@media only screen and (min-width: $md) {
  .pt-md-37 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 37);
  }
}

@media only screen and (min-width: $lg) {
  .pt-lg-37 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 37);
  }
}

@media only screen and (min-width: $xl) {
  .pt-xl-37 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 37);
  }
}

@media only screen and (min-width: $xxl) {
  .pt-xxl-37 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 37);
  }
}

@media print {
  .pt-print-37 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 37);
  }
}
