@import "../variables.scss";

.pt-34 {
  padding-top: calc(calc($BASE_NUMBER * .2) * 34);
}

@media only screen and (min-width: $sm) {
  .pt-sm-34 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 34);
  }
}

@media only screen and (min-width: $md) {
  .pt-md-34 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 34);
  }
}

@media only screen and (min-width: $lg) {
  .pt-lg-34 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 34);
  }
}

@media only screen and (min-width: $xl) {
  .pt-xl-34 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 34);
  }
}

@media only screen and (min-width: $xxl) {
  .pt-xxl-34 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 34);
  }
}

@media print {
  .pt-print-34 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 34);
  }
}
