@import "../variables.scss";

.pt-46 {
  padding-top: calc(calc($BASE_NUMBER * .2) * 46);
}

@media only screen and (min-width: $sm) {
  .pt-sm-46 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 46);
  }
}

@media only screen and (min-width: $md) {
  .pt-md-46 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 46);
  }
}

@media only screen and (min-width: $lg) {
  .pt-lg-46 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 46);
  }
}

@media only screen and (min-width: $xl) {
  .pt-xl-46 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 46);
  }
}

@media only screen and (min-width: $xxl) {
  .pt-xxl-46 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 46);
  }
}

@media print {
  .pt-print-46 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 46);
  }
}
