@import "../variables.scss";

.pt-8 {
  padding-top: calc(calc($BASE_NUMBER * .2) * 8);
}

@media only screen and (min-width: $sm) {
  .pt-sm-8 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 8);
  }
}

@media only screen and (min-width: $md) {
  .pt-md-8 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 8);
  }
}

@media only screen and (min-width: $lg) {
  .pt-lg-8 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 8);
  }
}

@media only screen and (min-width: $xl) {
  .pt-xl-8 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 8);
  }
}

@media only screen and (min-width: $xxl) {
  .pt-xxl-8 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 8);
  }
}

@media print {
  .pt-print-8 {
    padding-top: calc(calc($BASE_NUMBER * .2) * 8);
  }
}
