//@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// -------------------------------------------------------------------------------------------------
@import "function/hue";
@import "function/tint";
@import "function/tone";
@import "function/shade";


// -------------------------------------------------------------------------------------------------
// Breaking points
// See: https://getbootstrap.com/docs/5.1/layout/grid/#grid-options
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


// -------------------------------------------------------------------------------------------------
// Constants
$BASE_NUMBER: 13px;


// -------------------------------------------------------------------------------------------------
// Fonts
$font-family-serif: "Noto Serif", "Times New Roman", "Georgia", "Liberation Serif", "Garamond", serif;
$font-family-sans-serif: "Noto Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "Noto Sans Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-size: $BASE_NUMBER;
$font-size-xxl: $font-size * 1.1;
$font-size-xl: $font-size * 1.1;
$font-size-lg: $font-size * 1.1;
$font-size-md: $font-size * 1.2;
$font-size-sm: $font-size * 1.2;
$font-size-xs: $font-size * 1.2;
$font-size-print: 12pt;

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$line-height: 150%;


// -------------------------------------------------------------------------------------------------
// Colors
$primary: #EB7F6A;
$secondary: #5282EB;
$accent: #EB5E9A;
$hyperlink: hue(#0000FFFF, 13%);

$black: hue(#000000, 5%);
$gray: hue(#808080, 5%);
$white: hue(#FFFFFF, 1%);
$wall: tone($white, 5%);

// See: https://en.wikipedia.org/wiki/Color_term
$red: hue(#ff0000, 13%);
$orange: hue(#ff7f00, 13%);
$yellow: hue(#ffff00, 13%);
$chartreuseGreen: hue(#7fff00, 13%);
$green: hue(#00ff00, 13%);
$springGreen: hue(#00ff7f, 13%);
$cyan: hue(#00ffff, 13%);
$azure: hue(#007fff, 13%);
$blue: hue(#0000ff, 13%);
$violet: hue(#7f00ff, 13%);
$magenta: hue(#ff00ff, 13%);
$rose: hue(#ff007f, 13%);

// color versions
$primary-shade-5: shade($primary, 5%);
$primary-shade-10: shade($primary, 10%);
$primary-shade-15: shade($primary, 15%);
$primary-shade-20: shade($primary, 20%);
$primary-shade-25: shade($primary, 25%);
$primary-shade-30: shade($primary, 30%);
$primary-shade-35: shade($primary, 35%);
$primary-shade-40: shade($primary, 40%);
$primary-shade-45: shade($primary, 45%);
$primary-shade-50: shade($primary, 50%);
$primary-shade-55: shade($primary, 55%);
$primary-shade-60: shade($primary, 60%);
$primary-shade-65: shade($primary, 65%);
$primary-shade-70: shade($primary, 70%);
$primary-shade-75: shade($primary, 75%);
$primary-shade-80: shade($primary, 80%);
$primary-shade-85: shade($primary, 85%);
$primary-shade-90: shade($primary, 90%);
$primary-shade-95: shade($primary, 95%);
$primary-tint-5: tint($primary, 5%);
$primary-tint-10: tint($primary, 10%);
$primary-tint-15: tint($primary, 15%);
$primary-tint-20: tint($primary, 20%);
$primary-tint-25: tint($primary, 25%);
$primary-tint-30: tint($primary, 30%);
$primary-tint-35: tint($primary, 35%);
$primary-tint-40: tint($primary, 40%);
$primary-tint-45: tint($primary, 45%);
$primary-tint-50: tint($primary, 50%);
$primary-tint-55: tint($primary, 55%);
$primary-tint-60: tint($primary, 60%);
$primary-tint-65: tint($primary, 65%);
$primary-tint-70: tint($primary, 70%);
$primary-tint-75: tint($primary, 75%);
$primary-tint-80: tint($primary, 80%);
$primary-tint-85: tint($primary, 85%);
$primary-tint-90: tint($primary, 90%);
$primary-tint-95: tint($primary, 95%);
$primary-tone-5: tone($primary, 5%);
$primary-tone-10: tone($primary, 10%);
$primary-tone-15: tone($primary, 15%);
$primary-tone-20: tone($primary, 20%);
$primary-tone-25: tone($primary, 25%);
$primary-tone-30: tone($primary, 30%);
$primary-tone-35: tone($primary, 35%);
$primary-tone-40: tone($primary, 40%);
$primary-tone-45: tone($primary, 45%);
$primary-tone-50: tone($primary, 50%);
$primary-tone-55: tone($primary, 55%);
$primary-tone-60: tone($primary, 60%);
$primary-tone-65: tone($primary, 65%);
$primary-tone-70: tone($primary, 70%);
$primary-tone-75: tone($primary, 75%);
$primary-tone-80: tone($primary, 80%);
$primary-tone-85: tone($primary, 85%);
$primary-tone-90: tone($primary, 90%);
$primary-tone-95: tone($primary, 95%);

$secondary-shade-5: shade($secondary, 5%);
$secondary-shade-10: shade($secondary, 10%);
$secondary-shade-15: shade($secondary, 15%);
$secondary-shade-20: shade($secondary, 20%);
$secondary-shade-25: shade($secondary, 25%);
$secondary-shade-30: shade($secondary, 30%);
$secondary-shade-35: shade($secondary, 35%);
$secondary-shade-40: shade($secondary, 40%);
$secondary-shade-45: shade($secondary, 45%);
$secondary-shade-50: shade($secondary, 50%);
$secondary-shade-55: shade($secondary, 55%);
$secondary-shade-60: shade($secondary, 60%);
$secondary-shade-65: shade($secondary, 65%);
$secondary-shade-70: shade($secondary, 70%);
$secondary-shade-75: shade($secondary, 75%);
$secondary-shade-80: shade($secondary, 80%);
$secondary-shade-85: shade($secondary, 85%);
$secondary-shade-90: shade($secondary, 90%);
$secondary-shade-95: shade($secondary, 95%);
$secondary-tint-5: tint($secondary, 5%);
$secondary-tint-10: tint($secondary, 10%);
$secondary-tint-15: tint($secondary, 15%);
$secondary-tint-20: tint($secondary, 20%);
$secondary-tint-25: tint($secondary, 25%);
$secondary-tint-30: tint($secondary, 30%);
$secondary-tint-35: tint($secondary, 35%);
$secondary-tint-40: tint($secondary, 40%);
$secondary-tint-45: tint($secondary, 45%);
$secondary-tint-50: tint($secondary, 50%);
$secondary-tint-55: tint($secondary, 55%);
$secondary-tint-60: tint($secondary, 60%);
$secondary-tint-65: tint($secondary, 65%);
$secondary-tint-70: tint($secondary, 70%);
$secondary-tint-75: tint($secondary, 75%);
$secondary-tint-80: tint($secondary, 80%);
$secondary-tint-85: tint($secondary, 85%);
$secondary-tint-90: tint($secondary, 90%);
$secondary-tint-95: tint($secondary, 95%);
$secondary-tone-5: tone($secondary, 5%);
$secondary-tone-10: tone($secondary, 10%);
$secondary-tone-15: tone($secondary, 15%);
$secondary-tone-20: tone($secondary, 20%);
$secondary-tone-25: tone($secondary, 25%);
$secondary-tone-30: tone($secondary, 30%);
$secondary-tone-35: tone($secondary, 35%);
$secondary-tone-40: tone($secondary, 40%);
$secondary-tone-45: tone($secondary, 45%);
$secondary-tone-50: tone($secondary, 50%);
$secondary-tone-55: tone($secondary, 55%);
$secondary-tone-60: tone($secondary, 60%);
$secondary-tone-65: tone($secondary, 65%);
$secondary-tone-70: tone($secondary, 70%);
$secondary-tone-75: tone($secondary, 75%);
$secondary-tone-80: tone($secondary, 80%);
$secondary-tone-85: tone($secondary, 85%);
$secondary-tone-90: tone($secondary, 90%);
$secondary-tone-95: tone($secondary, 95%);

$accent-shade-5: shade($accent, 5%);
$accent-shade-10: shade($accent, 10%);
$accent-shade-15: shade($accent, 15%);
$accent-shade-20: shade($accent, 20%);
$accent-shade-25: shade($accent, 25%);
$accent-shade-30: shade($accent, 30%);
$accent-shade-35: shade($accent, 35%);
$accent-shade-40: shade($accent, 40%);
$accent-shade-45: shade($accent, 45%);
$accent-shade-50: shade($accent, 50%);
$accent-shade-55: shade($accent, 55%);
$accent-shade-60: shade($accent, 60%);
$accent-shade-65: shade($accent, 65%);
$accent-shade-70: shade($accent, 70%);
$accent-shade-75: shade($accent, 75%);
$accent-shade-80: shade($accent, 80%);
$accent-shade-85: shade($accent, 85%);
$accent-shade-90: shade($accent, 90%);
$accent-shade-95: shade($accent, 95%);
$accent-tint-5: tint($accent, 5%);
$accent-tint-10: tint($accent, 10%);
$accent-tint-15: tint($accent, 15%);
$accent-tint-20: tint($accent, 20%);
$accent-tint-25: tint($accent, 25%);
$accent-tint-30: tint($accent, 30%);
$accent-tint-35: tint($accent, 35%);
$accent-tint-40: tint($accent, 40%);
$accent-tint-45: tint($accent, 45%);
$accent-tint-50: tint($accent, 50%);
$accent-tint-55: tint($accent, 55%);
$accent-tint-60: tint($accent, 60%);
$accent-tint-65: tint($accent, 65%);
$accent-tint-70: tint($accent, 70%);
$accent-tint-75: tint($accent, 75%);
$accent-tint-80: tint($accent, 80%);
$accent-tint-85: tint($accent, 85%);
$accent-tint-90: tint($accent, 90%);
$accent-tint-95: tint($accent, 95%);
$accent-tone-5: tone($accent, 5%);
$accent-tone-10: tone($accent, 10%);
$accent-tone-15: tone($accent, 15%);
$accent-tone-20: tone($accent, 20%);
$accent-tone-25: tone($accent, 25%);
$accent-tone-30: tone($accent, 30%);
$accent-tone-35: tone($accent, 35%);
$accent-tone-40: tone($accent, 40%);
$accent-tone-45: tone($accent, 45%);
$accent-tone-50: tone($accent, 50%);
$accent-tone-55: tone($accent, 55%);
$accent-tone-60: tone($accent, 60%);
$accent-tone-65: tone($accent, 65%);
$accent-tone-70: tone($accent, 70%);
$accent-tone-75: tone($accent, 75%);
$accent-tone-80: tone($accent, 80%);
$accent-tone-85: tone($accent, 85%);
$accent-tone-90: tone($accent, 90%);
$accent-tone-95: tone($accent, 95%);

$hyperlink-shade-5: shade($hyperlink, 5%);
$hyperlink-shade-10: shade($hyperlink, 10%);
$hyperlink-shade-15: shade($hyperlink, 15%);
$hyperlink-shade-20: shade($hyperlink, 20%);
$hyperlink-shade-25: shade($hyperlink, 25%);
$hyperlink-shade-30: shade($hyperlink, 30%);
$hyperlink-shade-35: shade($hyperlink, 35%);
$hyperlink-shade-40: shade($hyperlink, 40%);
$hyperlink-shade-45: shade($hyperlink, 45%);
$hyperlink-shade-50: shade($hyperlink, 50%);
$hyperlink-shade-55: shade($hyperlink, 55%);
$hyperlink-shade-60: shade($hyperlink, 60%);
$hyperlink-shade-65: shade($hyperlink, 65%);
$hyperlink-shade-70: shade($hyperlink, 70%);
$hyperlink-shade-75: shade($hyperlink, 75%);
$hyperlink-shade-80: shade($hyperlink, 80%);
$hyperlink-shade-85: shade($hyperlink, 85%);
$hyperlink-shade-90: shade($hyperlink, 90%);
$hyperlink-shade-95: shade($hyperlink, 95%);
$hyperlink-tint-5: tint($hyperlink, 5%);
$hyperlink-tint-10: tint($hyperlink, 10%);
$hyperlink-tint-15: tint($hyperlink, 15%);
$hyperlink-tint-20: tint($hyperlink, 20%);
$hyperlink-tint-25: tint($hyperlink, 25%);
$hyperlink-tint-30: tint($hyperlink, 30%);
$hyperlink-tint-35: tint($hyperlink, 35%);
$hyperlink-tint-40: tint($hyperlink, 40%);
$hyperlink-tint-45: tint($hyperlink, 45%);
$hyperlink-tint-50: tint($hyperlink, 50%);
$hyperlink-tint-55: tint($hyperlink, 55%);
$hyperlink-tint-60: tint($hyperlink, 60%);
$hyperlink-tint-65: tint($hyperlink, 65%);
$hyperlink-tint-70: tint($hyperlink, 70%);
$hyperlink-tint-75: tint($hyperlink, 75%);
$hyperlink-tint-80: tint($hyperlink, 80%);
$hyperlink-tint-85: tint($hyperlink, 85%);
$hyperlink-tint-90: tint($hyperlink, 90%);
$hyperlink-tint-95: tint($hyperlink, 95%);
$hyperlink-tone-5: tone($hyperlink, 5%);
$hyperlink-tone-10: tone($hyperlink, 10%);
$hyperlink-tone-15: tone($hyperlink, 15%);
$hyperlink-tone-20: tone($hyperlink, 20%);
$hyperlink-tone-25: tone($hyperlink, 25%);
$hyperlink-tone-30: tone($hyperlink, 30%);
$hyperlink-tone-35: tone($hyperlink, 35%);
$hyperlink-tone-40: tone($hyperlink, 40%);
$hyperlink-tone-45: tone($hyperlink, 45%);
$hyperlink-tone-50: tone($hyperlink, 50%);
$hyperlink-tone-55: tone($hyperlink, 55%);
$hyperlink-tone-60: tone($hyperlink, 60%);
$hyperlink-tone-65: tone($hyperlink, 65%);
$hyperlink-tone-70: tone($hyperlink, 70%);
$hyperlink-tone-75: tone($hyperlink, 75%);
$hyperlink-tone-80: tone($hyperlink, 80%);
$hyperlink-tone-85: tone($hyperlink, 85%);
$hyperlink-tone-90: tone($hyperlink, 90%);
$hyperlink-tone-95: tone($hyperlink, 95%);

$black-tint-5: tint($black, 5%);
$black-tint-10: tint($black, 10%);
$black-tint-15: tint($black, 15%);
$black-tint-20: tint($black, 20%);
$black-tint-25: tint($black, 25%);
$black-tint-30: tint($black, 30%);
$black-tint-35: tint($black, 35%);
$black-tint-40: tint($black, 40%);
$black-tint-45: tint($black, 45%);
$black-tint-50: tint($black, 50%);
$black-tint-55: tint($black, 55%);
$black-tint-60: tint($black, 60%);
$black-tint-65: tint($black, 65%);
$black-tint-70: tint($black, 70%);
$black-tint-75: tint($black, 75%);
$black-tint-80: tint($black, 80%);
$black-tint-85: tint($black, 85%);
$black-tint-90: tint($black, 90%);
$black-tint-95: tint($black, 95%);

$red-shade-5: shade($red, 5%);
$red-shade-10: shade($red, 10%);
$red-shade-15: shade($red, 15%);
$red-shade-20: shade($red, 20%);
$red-shade-25: shade($red, 25%);
$red-shade-30: shade($red, 30%);
$red-shade-35: shade($red, 35%);
$red-shade-40: shade($red, 40%);
$red-shade-45: shade($red, 45%);
$red-shade-50: shade($red, 50%);
$red-shade-55: shade($red, 55%);
$red-shade-60: shade($red, 60%);
$red-shade-65: shade($red, 65%);
$red-shade-70: shade($red, 70%);
$red-shade-75: shade($red, 75%);
$red-shade-80: shade($red, 80%);
$red-shade-85: shade($red, 85%);
$red-shade-90: shade($red, 90%);
$red-shade-95: shade($red, 95%);
$red-tint-5: tint($red, 5%);
$red-tint-10: tint($red, 10%);
$red-tint-15: tint($red, 15%);
$red-tint-20: tint($red, 20%);
$red-tint-25: tint($red, 25%);
$red-tint-30: tint($red, 30%);
$red-tint-35: tint($red, 35%);
$red-tint-40: tint($red, 40%);
$red-tint-45: tint($red, 45%);
$red-tint-50: tint($red, 50%);
$red-tint-55: tint($red, 55%);
$red-tint-60: tint($red, 60%);
$red-tint-65: tint($red, 65%);
$red-tint-70: tint($red, 70%);
$red-tint-75: tint($red, 75%);
$red-tint-80: tint($red, 80%);
$red-tint-85: tint($red, 85%);
$red-tint-90: tint($red, 90%);
$red-tint-95: tint($red, 95%);
$red-tone-5: tone($red, 5%);
$red-tone-10: tone($red, 10%);
$red-tone-15: tone($red, 15%);
$red-tone-20: tone($red, 20%);
$red-tone-25: tone($red, 25%);
$red-tone-30: tone($red, 30%);
$red-tone-35: tone($red, 35%);
$red-tone-40: tone($red, 40%);
$red-tone-45: tone($red, 45%);
$red-tone-50: tone($red, 50%);
$red-tone-55: tone($red, 55%);
$red-tone-60: tone($red, 60%);
$red-tone-65: tone($red, 65%);
$red-tone-70: tone($red, 70%);
$red-tone-75: tone($red, 75%);
$red-tone-80: tone($red, 80%);
$red-tone-85: tone($red, 85%);
$red-tone-90: tone($red, 90%);
$red-tone-95: tone($red, 95%);

$orange-shade-5: shade($orange, 5%);
$orange-shade-10: shade($orange, 10%);
$orange-shade-15: shade($orange, 15%);
$orange-shade-20: shade($orange, 20%);
$orange-shade-25: shade($orange, 25%);
$orange-shade-30: shade($orange, 30%);
$orange-shade-35: shade($orange, 35%);
$orange-shade-40: shade($orange, 40%);
$orange-shade-45: shade($orange, 45%);
$orange-shade-50: shade($orange, 50%);
$orange-shade-55: shade($orange, 55%);
$orange-shade-60: shade($orange, 60%);
$orange-shade-65: shade($orange, 65%);
$orange-shade-70: shade($orange, 70%);
$orange-shade-75: shade($orange, 75%);
$orange-shade-80: shade($orange, 80%);
$orange-shade-85: shade($orange, 85%);
$orange-shade-90: shade($orange, 90%);
$orange-shade-95: shade($orange, 95%);
$orange-tint-5: tint($orange, 5%);
$orange-tint-10: tint($orange, 10%);
$orange-tint-15: tint($orange, 15%);
$orange-tint-20: tint($orange, 20%);
$orange-tint-25: tint($orange, 25%);
$orange-tint-30: tint($orange, 30%);
$orange-tint-35: tint($orange, 35%);
$orange-tint-40: tint($orange, 40%);
$orange-tint-45: tint($orange, 45%);
$orange-tint-50: tint($orange, 50%);
$orange-tint-55: tint($orange, 55%);
$orange-tint-60: tint($orange, 60%);
$orange-tint-65: tint($orange, 65%);
$orange-tint-70: tint($orange, 70%);
$orange-tint-75: tint($orange, 75%);
$orange-tint-80: tint($orange, 80%);
$orange-tint-85: tint($orange, 85%);
$orange-tint-90: tint($orange, 90%);
$orange-tint-95: tint($orange, 95%);
$orange-tone-5: tone($orange, 5%);
$orange-tone-10: tone($orange, 10%);
$orange-tone-15: tone($orange, 15%);
$orange-tone-20: tone($orange, 20%);
$orange-tone-25: tone($orange, 25%);
$orange-tone-30: tone($orange, 30%);
$orange-tone-35: tone($orange, 35%);
$orange-tone-40: tone($orange, 40%);
$orange-tone-45: tone($orange, 45%);
$orange-tone-50: tone($orange, 50%);
$orange-tone-55: tone($orange, 55%);
$orange-tone-60: tone($orange, 60%);
$orange-tone-65: tone($orange, 65%);
$orange-tone-70: tone($orange, 70%);
$orange-tone-75: tone($orange, 75%);
$orange-tone-80: tone($orange, 80%);
$orange-tone-85: tone($orange, 85%);
$orange-tone-90: tone($orange, 90%);
$orange-tone-95: tone($orange, 95%);

$yellow-shade-5: shade($yellow, 5%);
$yellow-shade-10: shade($yellow, 10%);
$yellow-shade-15: shade($yellow, 15%);
$yellow-shade-20: shade($yellow, 20%);
$yellow-shade-25: shade($yellow, 25%);
$yellow-shade-30: shade($yellow, 30%);
$yellow-shade-35: shade($yellow, 35%);
$yellow-shade-40: shade($yellow, 40%);
$yellow-shade-45: shade($yellow, 45%);
$yellow-shade-50: shade($yellow, 50%);
$yellow-shade-55: shade($yellow, 55%);
$yellow-shade-60: shade($yellow, 60%);
$yellow-shade-65: shade($yellow, 65%);
$yellow-shade-70: shade($yellow, 70%);
$yellow-shade-75: shade($yellow, 75%);
$yellow-shade-80: shade($yellow, 80%);
$yellow-shade-85: shade($yellow, 85%);
$yellow-shade-90: shade($yellow, 90%);
$yellow-shade-95: shade($yellow, 95%);
$yellow-tint-5: tint($yellow, 5%);
$yellow-tint-10: tint($yellow, 10%);
$yellow-tint-15: tint($yellow, 15%);
$yellow-tint-20: tint($yellow, 20%);
$yellow-tint-25: tint($yellow, 25%);
$yellow-tint-30: tint($yellow, 30%);
$yellow-tint-35: tint($yellow, 35%);
$yellow-tint-40: tint($yellow, 40%);
$yellow-tint-45: tint($yellow, 45%);
$yellow-tint-50: tint($yellow, 50%);
$yellow-tint-55: tint($yellow, 55%);
$yellow-tint-60: tint($yellow, 60%);
$yellow-tint-65: tint($yellow, 65%);
$yellow-tint-70: tint($yellow, 70%);
$yellow-tint-75: tint($yellow, 75%);
$yellow-tint-80: tint($yellow, 80%);
$yellow-tint-85: tint($yellow, 85%);
$yellow-tint-90: tint($yellow, 90%);
$yellow-tint-95: tint($yellow, 95%);
$yellow-tone-5: tone($yellow, 5%);
$yellow-tone-10: tone($yellow, 10%);
$yellow-tone-15: tone($yellow, 15%);
$yellow-tone-20: tone($yellow, 20%);
$yellow-tone-25: tone($yellow, 25%);
$yellow-tone-30: tone($yellow, 30%);
$yellow-tone-35: tone($yellow, 35%);
$yellow-tone-40: tone($yellow, 40%);
$yellow-tone-45: tone($yellow, 45%);
$yellow-tone-50: tone($yellow, 50%);
$yellow-tone-55: tone($yellow, 55%);
$yellow-tone-60: tone($yellow, 60%);
$yellow-tone-65: tone($yellow, 65%);
$yellow-tone-70: tone($yellow, 70%);
$yellow-tone-75: tone($yellow, 75%);
$yellow-tone-80: tone($yellow, 80%);
$yellow-tone-85: tone($yellow, 85%);
$yellow-tone-90: tone($yellow, 90%);
$yellow-tone-95: tone($yellow, 95%);

$chartreuseGreen-shade-5: shade($chartreuseGreen, 5%);
$chartreuseGreen-shade-10: shade($chartreuseGreen, 10%);
$chartreuseGreen-shade-15: shade($chartreuseGreen, 15%);
$chartreuseGreen-shade-20: shade($chartreuseGreen, 20%);
$chartreuseGreen-shade-25: shade($chartreuseGreen, 25%);
$chartreuseGreen-shade-30: shade($chartreuseGreen, 30%);
$chartreuseGreen-shade-35: shade($chartreuseGreen, 35%);
$chartreuseGreen-shade-40: shade($chartreuseGreen, 40%);
$chartreuseGreen-shade-45: shade($chartreuseGreen, 45%);
$chartreuseGreen-shade-50: shade($chartreuseGreen, 50%);
$chartreuseGreen-shade-55: shade($chartreuseGreen, 55%);
$chartreuseGreen-shade-60: shade($chartreuseGreen, 60%);
$chartreuseGreen-shade-65: shade($chartreuseGreen, 65%);
$chartreuseGreen-shade-70: shade($chartreuseGreen, 70%);
$chartreuseGreen-shade-75: shade($chartreuseGreen, 75%);
$chartreuseGreen-shade-80: shade($chartreuseGreen, 80%);
$chartreuseGreen-shade-85: shade($chartreuseGreen, 85%);
$chartreuseGreen-shade-90: shade($chartreuseGreen, 90%);
$chartreuseGreen-shade-95: shade($chartreuseGreen, 95%);
$chartreuseGreen-tint-5: tint($chartreuseGreen, 5%);
$chartreuseGreen-tint-10: tint($chartreuseGreen, 10%);
$chartreuseGreen-tint-15: tint($chartreuseGreen, 15%);
$chartreuseGreen-tint-20: tint($chartreuseGreen, 20%);
$chartreuseGreen-tint-25: tint($chartreuseGreen, 25%);
$chartreuseGreen-tint-30: tint($chartreuseGreen, 30%);
$chartreuseGreen-tint-35: tint($chartreuseGreen, 35%);
$chartreuseGreen-tint-40: tint($chartreuseGreen, 40%);
$chartreuseGreen-tint-45: tint($chartreuseGreen, 45%);
$chartreuseGreen-tint-50: tint($chartreuseGreen, 50%);
$chartreuseGreen-tint-55: tint($chartreuseGreen, 55%);
$chartreuseGreen-tint-60: tint($chartreuseGreen, 60%);
$chartreuseGreen-tint-65: tint($chartreuseGreen, 65%);
$chartreuseGreen-tint-70: tint($chartreuseGreen, 70%);
$chartreuseGreen-tint-75: tint($chartreuseGreen, 75%);
$chartreuseGreen-tint-80: tint($chartreuseGreen, 80%);
$chartreuseGreen-tint-85: tint($chartreuseGreen, 85%);
$chartreuseGreen-tint-90: tint($chartreuseGreen, 90%);
$chartreuseGreen-tint-95: tint($chartreuseGreen, 95%);
$chartreuseGreen-tone-5: tone($chartreuseGreen, 5%);
$chartreuseGreen-tone-10: tone($chartreuseGreen, 10%);
$chartreuseGreen-tone-15: tone($chartreuseGreen, 15%);
$chartreuseGreen-tone-20: tone($chartreuseGreen, 20%);
$chartreuseGreen-tone-25: tone($chartreuseGreen, 25%);
$chartreuseGreen-tone-30: tone($chartreuseGreen, 30%);
$chartreuseGreen-tone-35: tone($chartreuseGreen, 35%);
$chartreuseGreen-tone-40: tone($chartreuseGreen, 40%);
$chartreuseGreen-tone-45: tone($chartreuseGreen, 45%);
$chartreuseGreen-tone-50: tone($chartreuseGreen, 50%);
$chartreuseGreen-tone-55: tone($chartreuseGreen, 55%);
$chartreuseGreen-tone-60: tone($chartreuseGreen, 60%);
$chartreuseGreen-tone-65: tone($chartreuseGreen, 65%);
$chartreuseGreen-tone-70: tone($chartreuseGreen, 70%);
$chartreuseGreen-tone-75: tone($chartreuseGreen, 75%);
$chartreuseGreen-tone-80: tone($chartreuseGreen, 80%);
$chartreuseGreen-tone-85: tone($chartreuseGreen, 85%);
$chartreuseGreen-tone-90: tone($chartreuseGreen, 90%);
$chartreuseGreen-tone-95: tone($chartreuseGreen, 95%);

$green-shade-5: shade($green, 5%);
$green-shade-10: shade($green, 10%);
$green-shade-15: shade($green, 15%);
$green-shade-20: shade($green, 20%);
$green-shade-25: shade($green, 25%);
$green-shade-30: shade($green, 30%);
$green-shade-35: shade($green, 35%);
$green-shade-40: shade($green, 40%);
$green-shade-45: shade($green, 45%);
$green-shade-50: shade($green, 50%);
$green-shade-55: shade($green, 55%);
$green-shade-60: shade($green, 60%);
$green-shade-65: shade($green, 65%);
$green-shade-70: shade($green, 70%);
$green-shade-75: shade($green, 75%);
$green-shade-80: shade($green, 80%);
$green-shade-85: shade($green, 85%);
$green-shade-90: shade($green, 90%);
$green-shade-95: shade($green, 95%);
$green-tint-5: tint($green, 5%);
$green-tint-10: tint($green, 10%);
$green-tint-15: tint($green, 15%);
$green-tint-20: tint($green, 20%);
$green-tint-25: tint($green, 25%);
$green-tint-30: tint($green, 30%);
$green-tint-35: tint($green, 35%);
$green-tint-40: tint($green, 40%);
$green-tint-45: tint($green, 45%);
$green-tint-50: tint($green, 50%);
$green-tint-55: tint($green, 55%);
$green-tint-60: tint($green, 60%);
$green-tint-65: tint($green, 65%);
$green-tint-70: tint($green, 70%);
$green-tint-75: tint($green, 75%);
$green-tint-80: tint($green, 80%);
$green-tint-85: tint($green, 85%);
$green-tint-90: tint($green, 90%);
$green-tint-95: tint($green, 95%);
$green-tone-5: tone($green, 5%);
$green-tone-10: tone($green, 10%);
$green-tone-15: tone($green, 15%);
$green-tone-20: tone($green, 20%);
$green-tone-25: tone($green, 25%);
$green-tone-30: tone($green, 30%);
$green-tone-35: tone($green, 35%);
$green-tone-40: tone($green, 40%);
$green-tone-45: tone($green, 45%);
$green-tone-50: tone($green, 50%);
$green-tone-55: tone($green, 55%);
$green-tone-60: tone($green, 60%);
$green-tone-65: tone($green, 65%);
$green-tone-70: tone($green, 70%);
$green-tone-75: tone($green, 75%);
$green-tone-80: tone($green, 80%);
$green-tone-85: tone($green, 85%);
$green-tone-90: tone($green, 90%);
$green-tone-95: tone($green, 95%);

$springGreen-shade-5: shade($springGreen, 5%);
$springGreen-shade-10: shade($springGreen, 10%);
$springGreen-shade-15: shade($springGreen, 15%);
$springGreen-shade-20: shade($springGreen, 20%);
$springGreen-shade-25: shade($springGreen, 25%);
$springGreen-shade-30: shade($springGreen, 30%);
$springGreen-shade-35: shade($springGreen, 35%);
$springGreen-shade-40: shade($springGreen, 40%);
$springGreen-shade-45: shade($springGreen, 45%);
$springGreen-shade-50: shade($springGreen, 50%);
$springGreen-shade-55: shade($springGreen, 55%);
$springGreen-shade-60: shade($springGreen, 60%);
$springGreen-shade-65: shade($springGreen, 65%);
$springGreen-shade-70: shade($springGreen, 70%);
$springGreen-shade-75: shade($springGreen, 75%);
$springGreen-shade-80: shade($springGreen, 80%);
$springGreen-shade-85: shade($springGreen, 85%);
$springGreen-shade-90: shade($springGreen, 90%);
$springGreen-shade-95: shade($springGreen, 95%);
$springGreen-tint-5: tint($springGreen, 5%);
$springGreen-tint-10: tint($springGreen, 10%);
$springGreen-tint-15: tint($springGreen, 15%);
$springGreen-tint-20: tint($springGreen, 20%);
$springGreen-tint-25: tint($springGreen, 25%);
$springGreen-tint-30: tint($springGreen, 30%);
$springGreen-tint-35: tint($springGreen, 35%);
$springGreen-tint-40: tint($springGreen, 40%);
$springGreen-tint-45: tint($springGreen, 45%);
$springGreen-tint-50: tint($springGreen, 50%);
$springGreen-tint-55: tint($springGreen, 55%);
$springGreen-tint-60: tint($springGreen, 60%);
$springGreen-tint-65: tint($springGreen, 65%);
$springGreen-tint-70: tint($springGreen, 70%);
$springGreen-tint-75: tint($springGreen, 75%);
$springGreen-tint-80: tint($springGreen, 80%);
$springGreen-tint-85: tint($springGreen, 85%);
$springGreen-tint-90: tint($springGreen, 90%);
$springGreen-tint-95: tint($springGreen, 95%);
$springGreen-tone-5: tone($springGreen, 5%);
$springGreen-tone-10: tone($springGreen, 10%);
$springGreen-tone-15: tone($springGreen, 15%);
$springGreen-tone-20: tone($springGreen, 20%);
$springGreen-tone-25: tone($springGreen, 25%);
$springGreen-tone-30: tone($springGreen, 30%);
$springGreen-tone-35: tone($springGreen, 35%);
$springGreen-tone-40: tone($springGreen, 40%);
$springGreen-tone-45: tone($springGreen, 45%);
$springGreen-tone-50: tone($springGreen, 50%);
$springGreen-tone-55: tone($springGreen, 55%);
$springGreen-tone-60: tone($springGreen, 60%);
$springGreen-tone-65: tone($springGreen, 65%);
$springGreen-tone-70: tone($springGreen, 70%);
$springGreen-tone-75: tone($springGreen, 75%);
$springGreen-tone-80: tone($springGreen, 80%);
$springGreen-tone-85: tone($springGreen, 85%);
$springGreen-tone-90: tone($springGreen, 90%);
$springGreen-tone-95: tone($springGreen, 95%);

$cyan-shade-5: shade($cyan, 5%);
$cyan-shade-10: shade($cyan, 10%);
$cyan-shade-15: shade($cyan, 15%);
$cyan-shade-20: shade($cyan, 20%);
$cyan-shade-25: shade($cyan, 25%);
$cyan-shade-30: shade($cyan, 30%);
$cyan-shade-35: shade($cyan, 35%);
$cyan-shade-40: shade($cyan, 40%);
$cyan-shade-45: shade($cyan, 45%);
$cyan-shade-50: shade($cyan, 50%);
$cyan-shade-55: shade($cyan, 55%);
$cyan-shade-60: shade($cyan, 60%);
$cyan-shade-65: shade($cyan, 65%);
$cyan-shade-70: shade($cyan, 70%);
$cyan-shade-75: shade($cyan, 75%);
$cyan-shade-80: shade($cyan, 80%);
$cyan-shade-85: shade($cyan, 85%);
$cyan-shade-90: shade($cyan, 90%);
$cyan-shade-95: shade($cyan, 95%);
$cyan-tint-5: tint($cyan, 5%);
$cyan-tint-10: tint($cyan, 10%);
$cyan-tint-15: tint($cyan, 15%);
$cyan-tint-20: tint($cyan, 20%);
$cyan-tint-25: tint($cyan, 25%);
$cyan-tint-30: tint($cyan, 30%);
$cyan-tint-35: tint($cyan, 35%);
$cyan-tint-40: tint($cyan, 40%);
$cyan-tint-45: tint($cyan, 45%);
$cyan-tint-50: tint($cyan, 50%);
$cyan-tint-55: tint($cyan, 55%);
$cyan-tint-60: tint($cyan, 60%);
$cyan-tint-65: tint($cyan, 65%);
$cyan-tint-70: tint($cyan, 70%);
$cyan-tint-75: tint($cyan, 75%);
$cyan-tint-80: tint($cyan, 80%);
$cyan-tint-85: tint($cyan, 85%);
$cyan-tint-90: tint($cyan, 90%);
$cyan-tint-95: tint($cyan, 95%);
$cyan-tone-5: tone($cyan, 5%);
$cyan-tone-10: tone($cyan, 10%);
$cyan-tone-15: tone($cyan, 15%);
$cyan-tone-20: tone($cyan, 20%);
$cyan-tone-25: tone($cyan, 25%);
$cyan-tone-30: tone($cyan, 30%);
$cyan-tone-35: tone($cyan, 35%);
$cyan-tone-40: tone($cyan, 40%);
$cyan-tone-45: tone($cyan, 45%);
$cyan-tone-50: tone($cyan, 50%);
$cyan-tone-55: tone($cyan, 55%);
$cyan-tone-60: tone($cyan, 60%);
$cyan-tone-65: tone($cyan, 65%);
$cyan-tone-70: tone($cyan, 70%);
$cyan-tone-75: tone($cyan, 75%);
$cyan-tone-80: tone($cyan, 80%);
$cyan-tone-85: tone($cyan, 85%);
$cyan-tone-90: tone($cyan, 90%);
$cyan-tone-95: tone($cyan, 95%);

$azure-shade-5: shade($azure, 5%);
$azure-shade-10: shade($azure, 10%);
$azure-shade-15: shade($azure, 15%);
$azure-shade-20: shade($azure, 20%);
$azure-shade-25: shade($azure, 25%);
$azure-shade-30: shade($azure, 30%);
$azure-shade-35: shade($azure, 35%);
$azure-shade-40: shade($azure, 40%);
$azure-shade-45: shade($azure, 45%);
$azure-shade-50: shade($azure, 50%);
$azure-shade-55: shade($azure, 55%);
$azure-shade-60: shade($azure, 60%);
$azure-shade-65: shade($azure, 65%);
$azure-shade-70: shade($azure, 70%);
$azure-shade-75: shade($azure, 75%);
$azure-shade-80: shade($azure, 80%);
$azure-shade-85: shade($azure, 85%);
$azure-shade-90: shade($azure, 90%);
$azure-shade-95: shade($azure, 95%);
$azure-tint-5: tint($azure, 5%);
$azure-tint-10: tint($azure, 10%);
$azure-tint-15: tint($azure, 15%);
$azure-tint-20: tint($azure, 20%);
$azure-tint-25: tint($azure, 25%);
$azure-tint-30: tint($azure, 30%);
$azure-tint-35: tint($azure, 35%);
$azure-tint-40: tint($azure, 40%);
$azure-tint-45: tint($azure, 45%);
$azure-tint-50: tint($azure, 50%);
$azure-tint-55: tint($azure, 55%);
$azure-tint-60: tint($azure, 60%);
$azure-tint-65: tint($azure, 65%);
$azure-tint-70: tint($azure, 70%);
$azure-tint-75: tint($azure, 75%);
$azure-tint-80: tint($azure, 80%);
$azure-tint-85: tint($azure, 85%);
$azure-tint-90: tint($azure, 90%);
$azure-tint-95: tint($azure, 95%);
$azure-tone-5: tone($azure, 5%);
$azure-tone-10: tone($azure, 10%);
$azure-tone-15: tone($azure, 15%);
$azure-tone-20: tone($azure, 20%);
$azure-tone-25: tone($azure, 25%);
$azure-tone-30: tone($azure, 30%);
$azure-tone-35: tone($azure, 35%);
$azure-tone-40: tone($azure, 40%);
$azure-tone-45: tone($azure, 45%);
$azure-tone-50: tone($azure, 50%);
$azure-tone-55: tone($azure, 55%);
$azure-tone-60: tone($azure, 60%);
$azure-tone-65: tone($azure, 65%);
$azure-tone-70: tone($azure, 70%);
$azure-tone-75: tone($azure, 75%);
$azure-tone-80: tone($azure, 80%);
$azure-tone-85: tone($azure, 85%);
$azure-tone-90: tone($azure, 90%);
$azure-tone-95: tone($azure, 95%);

$blue-shade-5: shade($blue, 5%);
$blue-shade-10: shade($blue, 10%);
$blue-shade-15: shade($blue, 15%);
$blue-shade-20: shade($blue, 20%);
$blue-shade-25: shade($blue, 25%);
$blue-shade-30: shade($blue, 30%);
$blue-shade-35: shade($blue, 35%);
$blue-shade-40: shade($blue, 40%);
$blue-shade-45: shade($blue, 45%);
$blue-shade-50: shade($blue, 50%);
$blue-shade-55: shade($blue, 55%);
$blue-shade-60: shade($blue, 60%);
$blue-shade-65: shade($blue, 65%);
$blue-shade-70: shade($blue, 70%);
$blue-shade-75: shade($blue, 75%);
$blue-shade-80: shade($blue, 80%);
$blue-shade-85: shade($blue, 85%);
$blue-shade-90: shade($blue, 90%);
$blue-shade-95: shade($blue, 95%);
$blue-tint-5: tint($blue, 5%);
$blue-tint-10: tint($blue, 10%);
$blue-tint-15: tint($blue, 15%);
$blue-tint-20: tint($blue, 20%);
$blue-tint-25: tint($blue, 25%);
$blue-tint-30: tint($blue, 30%);
$blue-tint-35: tint($blue, 35%);
$blue-tint-40: tint($blue, 40%);
$blue-tint-45: tint($blue, 45%);
$blue-tint-50: tint($blue, 50%);
$blue-tint-55: tint($blue, 55%);
$blue-tint-60: tint($blue, 60%);
$blue-tint-65: tint($blue, 65%);
$blue-tint-70: tint($blue, 70%);
$blue-tint-75: tint($blue, 75%);
$blue-tint-80: tint($blue, 80%);
$blue-tint-85: tint($blue, 85%);
$blue-tint-90: tint($blue, 90%);
$blue-tint-95: tint($blue, 95%);
$blue-tone-5: tone($blue, 5%);
$blue-tone-10: tone($blue, 10%);
$blue-tone-15: tone($blue, 15%);
$blue-tone-20: tone($blue, 20%);
$blue-tone-25: tone($blue, 25%);
$blue-tone-30: tone($blue, 30%);
$blue-tone-35: tone($blue, 35%);
$blue-tone-40: tone($blue, 40%);
$blue-tone-45: tone($blue, 45%);
$blue-tone-50: tone($blue, 50%);
$blue-tone-55: tone($blue, 55%);
$blue-tone-60: tone($blue, 60%);
$blue-tone-65: tone($blue, 65%);
$blue-tone-70: tone($blue, 70%);
$blue-tone-75: tone($blue, 75%);
$blue-tone-80: tone($blue, 80%);
$blue-tone-85: tone($blue, 85%);
$blue-tone-90: tone($blue, 90%);
$blue-tone-95: tone($blue, 95%);

$violet-shade-5: shade($violet, 5%);
$violet-shade-10: shade($violet, 10%);
$violet-shade-15: shade($violet, 15%);
$violet-shade-20: shade($violet, 20%);
$violet-shade-25: shade($violet, 25%);
$violet-shade-30: shade($violet, 30%);
$violet-shade-35: shade($violet, 35%);
$violet-shade-40: shade($violet, 40%);
$violet-shade-45: shade($violet, 45%);
$violet-shade-50: shade($violet, 50%);
$violet-shade-55: shade($violet, 55%);
$violet-shade-60: shade($violet, 60%);
$violet-shade-65: shade($violet, 65%);
$violet-shade-70: shade($violet, 70%);
$violet-shade-75: shade($violet, 75%);
$violet-shade-80: shade($violet, 80%);
$violet-shade-85: shade($violet, 85%);
$violet-shade-90: shade($violet, 90%);
$violet-shade-95: shade($violet, 95%);
$violet-tint-5: tint($violet, 5%);
$violet-tint-10: tint($violet, 10%);
$violet-tint-15: tint($violet, 15%);
$violet-tint-20: tint($violet, 20%);
$violet-tint-25: tint($violet, 25%);
$violet-tint-30: tint($violet, 30%);
$violet-tint-35: tint($violet, 35%);
$violet-tint-40: tint($violet, 40%);
$violet-tint-45: tint($violet, 45%);
$violet-tint-50: tint($violet, 50%);
$violet-tint-55: tint($violet, 55%);
$violet-tint-60: tint($violet, 60%);
$violet-tint-65: tint($violet, 65%);
$violet-tint-70: tint($violet, 70%);
$violet-tint-75: tint($violet, 75%);
$violet-tint-80: tint($violet, 80%);
$violet-tint-85: tint($violet, 85%);
$violet-tint-90: tint($violet, 90%);
$violet-tint-95: tint($violet, 95%);
$violet-tone-5: tone($violet, 5%);
$violet-tone-10: tone($violet, 10%);
$violet-tone-15: tone($violet, 15%);
$violet-tone-20: tone($violet, 20%);
$violet-tone-25: tone($violet, 25%);
$violet-tone-30: tone($violet, 30%);
$violet-tone-35: tone($violet, 35%);
$violet-tone-40: tone($violet, 40%);
$violet-tone-45: tone($violet, 45%);
$violet-tone-50: tone($violet, 50%);
$violet-tone-55: tone($violet, 55%);
$violet-tone-60: tone($violet, 60%);
$violet-tone-65: tone($violet, 65%);
$violet-tone-70: tone($violet, 70%);
$violet-tone-75: tone($violet, 75%);
$violet-tone-80: tone($violet, 80%);
$violet-tone-85: tone($violet, 85%);
$violet-tone-90: tone($violet, 90%);
$violet-tone-95: tone($violet, 95%);

$magenta-shade-5: shade($magenta, 5%);
$magenta-shade-10: shade($magenta, 10%);
$magenta-shade-15: shade($magenta, 15%);
$magenta-shade-20: shade($magenta, 20%);
$magenta-shade-25: shade($magenta, 25%);
$magenta-shade-30: shade($magenta, 30%);
$magenta-shade-35: shade($magenta, 35%);
$magenta-shade-40: shade($magenta, 40%);
$magenta-shade-45: shade($magenta, 45%);
$magenta-shade-50: shade($magenta, 50%);
$magenta-shade-55: shade($magenta, 55%);
$magenta-shade-60: shade($magenta, 60%);
$magenta-shade-65: shade($magenta, 65%);
$magenta-shade-70: shade($magenta, 70%);
$magenta-shade-75: shade($magenta, 75%);
$magenta-shade-80: shade($magenta, 80%);
$magenta-shade-85: shade($magenta, 85%);
$magenta-shade-90: shade($magenta, 90%);
$magenta-shade-95: shade($magenta, 95%);
$magenta-tint-5: tint($magenta, 5%);
$magenta-tint-10: tint($magenta, 10%);
$magenta-tint-15: tint($magenta, 15%);
$magenta-tint-20: tint($magenta, 20%);
$magenta-tint-25: tint($magenta, 25%);
$magenta-tint-30: tint($magenta, 30%);
$magenta-tint-35: tint($magenta, 35%);
$magenta-tint-40: tint($magenta, 40%);
$magenta-tint-45: tint($magenta, 45%);
$magenta-tint-50: tint($magenta, 50%);
$magenta-tint-55: tint($magenta, 55%);
$magenta-tint-60: tint($magenta, 60%);
$magenta-tint-65: tint($magenta, 65%);
$magenta-tint-70: tint($magenta, 70%);
$magenta-tint-75: tint($magenta, 75%);
$magenta-tint-80: tint($magenta, 80%);
$magenta-tint-85: tint($magenta, 85%);
$magenta-tint-90: tint($magenta, 90%);
$magenta-tint-95: tint($magenta, 95%);
$magenta-tone-5: tone($magenta, 5%);
$magenta-tone-10: tone($magenta, 10%);
$magenta-tone-15: tone($magenta, 15%);
$magenta-tone-20: tone($magenta, 20%);
$magenta-tone-25: tone($magenta, 25%);
$magenta-tone-30: tone($magenta, 30%);
$magenta-tone-35: tone($magenta, 35%);
$magenta-tone-40: tone($magenta, 40%);
$magenta-tone-45: tone($magenta, 45%);
$magenta-tone-50: tone($magenta, 50%);
$magenta-tone-55: tone($magenta, 55%);
$magenta-tone-60: tone($magenta, 60%);
$magenta-tone-65: tone($magenta, 65%);
$magenta-tone-70: tone($magenta, 70%);
$magenta-tone-75: tone($magenta, 75%);
$magenta-tone-80: tone($magenta, 80%);
$magenta-tone-85: tone($magenta, 85%);
$magenta-tone-90: tone($magenta, 90%);
$magenta-tone-95: tone($magenta, 95%);

$rose-shade-5: shade($rose, 5%);
$rose-shade-10: shade($rose, 10%);
$rose-shade-15: shade($rose, 15%);
$rose-shade-20: shade($rose, 20%);
$rose-shade-25: shade($rose, 25%);
$rose-shade-30: shade($rose, 30%);
$rose-shade-35: shade($rose, 35%);
$rose-shade-40: shade($rose, 40%);
$rose-shade-45: shade($rose, 45%);
$rose-shade-50: shade($rose, 50%);
$rose-shade-55: shade($rose, 55%);
$rose-shade-60: shade($rose, 60%);
$rose-shade-65: shade($rose, 65%);
$rose-shade-70: shade($rose, 70%);
$rose-shade-75: shade($rose, 75%);
$rose-shade-80: shade($rose, 80%);
$rose-shade-85: shade($rose, 85%);
$rose-shade-90: shade($rose, 90%);
$rose-shade-95: shade($rose, 95%);
$rose-tint-5: tint($rose, 5%);
$rose-tint-10: tint($rose, 10%);
$rose-tint-15: tint($rose, 15%);
$rose-tint-20: tint($rose, 20%);
$rose-tint-25: tint($rose, 25%);
$rose-tint-30: tint($rose, 30%);
$rose-tint-35: tint($rose, 35%);
$rose-tint-40: tint($rose, 40%);
$rose-tint-45: tint($rose, 45%);
$rose-tint-50: tint($rose, 50%);
$rose-tint-55: tint($rose, 55%);
$rose-tint-60: tint($rose, 60%);
$rose-tint-65: tint($rose, 65%);
$rose-tint-70: tint($rose, 70%);
$rose-tint-75: tint($rose, 75%);
$rose-tint-80: tint($rose, 80%);
$rose-tint-85: tint($rose, 85%);
$rose-tint-90: tint($rose, 90%);
$rose-tint-95: tint($rose, 95%);
$rose-tone-5: tone($rose, 5%);
$rose-tone-10: tone($rose, 10%);
$rose-tone-15: tone($rose, 15%);
$rose-tone-20: tone($rose, 20%);
$rose-tone-25: tone($rose, 25%);
$rose-tone-30: tone($rose, 30%);
$rose-tone-35: tone($rose, 35%);
$rose-tone-40: tone($rose, 40%);
$rose-tone-45: tone($rose, 45%);
$rose-tone-50: tone($rose, 50%);
$rose-tone-55: tone($rose, 55%);
$rose-tone-60: tone($rose, 60%);
$rose-tone-65: tone($rose, 65%);
$rose-tone-70: tone($rose, 70%);
$rose-tone-75: tone($rose, 75%);
$rose-tone-80: tone($rose, 80%);
$rose-tone-85: tone($rose, 85%);
$rose-tone-90: tone($rose, 90%);
$rose-tone-95: tone($rose, 95%);