//@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// -------------------------------------------------------------------------------------------------
@import "function/hue";
@import "function/tint";
@import "function/tone";
@import "function/shade";


// -------------------------------------------------------------------------------------------------
// Breaking points
// See: https://getbootstrap.com/docs/5.1/layout/grid/#grid-options
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


// -------------------------------------------------------------------------------------------------
// Constants
$BASE_NUMBER: 13px;


// -------------------------------------------------------------------------------------------------
// Fonts
$font-family-serif: "Noto Serif", "Times New Roman", "Georgia", "Liberation Serif", "Garamond", serif;
$font-family-sans-serif: "Noto Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "Noto Sans Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-size: $BASE_NUMBER;
$font-size-xxl: $font-size * 1.1;
$font-size-xl: $font-size * 1.1;
$font-size-lg: $font-size * 1.1;
$font-size-md: $font-size * 1.2;
$font-size-sm: $font-size * 1.2;
$font-size-xs: $font-size * 1.2;
$font-size-print: 12pt;

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$line-height: 150%;


// -------------------------------------------------------------------------------------------------
// Colors
$primary: #000;
$secondary: #000;
$accent: #000;
$hyperlink: blue;

$black: hue(#000000, 5%);
$gray: hue(#808080, 5%);
$white: #FFFFFF;
$wall: tone($white, 5%);