@import "../variables";

/* General assignments for all viewports. */
.breadcrumb {
  background-color: $black-tint-95;
  font-family: $font-family-monospace;
  font-size: calc($font-size-xs * .8);
  line-height: calc(calc($font-size-xs * .8) * 1.5);


  ul, ol {
    margin: 0;
    padding: 0;

    li:after {
      color: $black-tint-75;
      content: " / ";
    }

    li:last-child:after {
      content: "";
    }

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
    }
  }
}

@media only screen and (min-width: $sm) {
}

@media only screen and (min-width: $md) {
}

@media only screen and (min-width: $lg) {
}

@media only screen and (min-width: $xl) {
}

@media only screen and (min-width: $xxl) {
}

@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
}

@media print {
}